{% extends 'base.html.twig' %}

{% block title %}E-Commerce - Configurateur PC - Votre configuration{% endblock %}

{% block meta %}E-Commerce, achetez tout votre matériel informatique au meilleur pix !{% endblock %}

{% block body %}
    <div class="conteneur-principal">
        <section class="categories">
            <h2>Votre configuration</h2>
            <div class="conteneur-conteneurs">
                <section class="conteneur conteneur-padding">
                    <h2>Composants</h2>
                    <div class="liste-recapitulatif-configuration">
                        {% for etape, produit in configuration %}
                            {% if etape <= 8 and produit is not null %}
                                <article class="panier-produit">
                                    <div class="produit-image-mini mobile-tablette-uniquement">
                                        <img src="{{ asset('img/produits/' ~ produit.photo) }}" alt="{{ produit.designation }}">
                                    </div>
                                    <div class="panier-infos">
                                        <div class="mobile-tablette-uniquement">
                                            <span class="produit-designation">
                                                <a href="{{ path('voir_produit', {'id': produit.id}) }}">{{ produit.designation }}</a>
                                            </span>
                                            <span>
                                                Disponibilité :
                                                {% if produit.stock > 0 %}
                                                    <span class="stock-oui">EN STOCK</span>
                                                {% else %}
                                                    <span class="stock-non">RUPTURE</span>
                                                {% endif %}
                                            </span>
                                            <span class="prix prix-recapitulatif">{{ produit.prix  | number_format(2, ',', ' ') }} €</span>
                                        </div>
                                        <div class="ordinateur-uniquement">
                                            <div class="produit-image-mini panier-header-image">
                                                <img src="{{ asset('img/produits/' ~ produit.photo) }}" alt="{{ produit.designation }}">
                                            </div>
                                            <div class="configurateur-designation">
                                                <span class="produit-designation">
                                                    <a href="{{ path('voir_produit', {'id': produit.id}) }}">{{ produit.designation }}</a>
                                                </span>
                                                <span>
                                                    Disponibilité :
                                                    {% if produit.stock > 0 %}
                                                        <span class="stock-oui">EN STOCK</span>
                                                    {% else %}
                                                        <span class="stock-non">RUPTURE</span>
                                                    {% endif %}
                                                </span>
                                            </div>
                                            <span class="configurateur-prix prix">{{ produit.prix | number_format(2, ',', ' ') }} €</span>
                                        </div>
                                    </div>
                                </article>
                            {% endif %}
                        {% endfor %}
                    </div>
                </section>
                <section class="conteneur conteneur-padding conteneur-total-configuration">
                    <div class="panier-total">
                        <h2>Montant total de la configuration</h2>
                        <span class="panier-prix">{{ totalConfiguration | number_format(2, ',', ' ') }} €</span>
                    </div>
                    <div class="configuration-actions">
                        <div class="bouton-lien bouton-commander" onclick="displaySaveBuildForm()">Sauvegarder la configuration</div>
                        {% if panierVide %}
                            <a class="bouton-achat bouton-commander" href="{{ path('ajout_config_commande') }}">Ajouter au panier</a>
                        {% else %}
                            <div class="bouton-achat bouton-commander" onclick="displayBarketWarning()">Ajouter au panier</div>
                        {% endif %}

                    </div>
                </section>
            </div>
        </section>
    </div>

    {# Modales #}
    <div id="modal" class="modal">
        <section id="sauvegarder-configuration" class="conteneur-modal">
            <h3>Sauvegarder la configuration</h3>
            <div class="fermer-modal" onclick="closeModale('sauvegarder-configuration')">
                <img class="modal-fermer" src="{{ asset('svg/fermer.svg') }}" alt="Fermer">
            </div>
            <p>
                Entrez un nom pour la configuration. Vous pourrez la charger à tout moment en cliquant sur le bouton "Charger" du configurateur.
            </p>
            {{ form_start(formulaire, {'action': path('sauvegarder_configuration'), 'method': 'POST'}) }}
                <div class="formulaire-champ">
                    {{ form_row(formulaire.nom) }}
                </div>
                {{ form_row(formulaire.Valider) }}
            {{ form_end(formulaire) }}
        </section>
        <section id="panier-non-vide" class="conteneur-modal">
            <div class="fermer-modal" onclick="closeModale('panier-non-vide')">
                <img class="modal-fermer" src="{{ asset('svg/fermer.svg') }}" alt="Fermer">
            </div>
            <h3>Remplacer le panier ?</h3>
            <p>
                Attention ! Votre panier actuel n'est pas vide. <br>
                Continuer remplacera les produits dans votre panier par ceux contenus dans cette configuration.<br><br>
                Remplacer les produits de votre panier par ceux de cette configuration ?
            </p>
            <div class="commande-suivant">
                <div class="bouton-lien bouton-100" onclick="closeModale('panier-non-vide')">Non</div>
                <a class="bouton-lien bouton-valider-commande bouton-100" href="{{ path('ajout_config_commande') }}">Oui</a>
            </div>
        </section>
    </div>

    <script>
        // Afficher le formulaire de sauvegarde de configuration
        function displaySaveBuildForm()
        {
            const modal = document.getElementById("modal")
            const element = document.getElementById("sauvegarder-configuration")
            const stylesModal = window.getComputedStyle(modal)
            if (stylesModal.getPropertyValue("display") == "none") {
                element.style.display = "block";
                modal.style.display = "flex";
            }
        }

        // Afficher l'avertissement de panier non vide
        function displayBarketWarning()
        {
            const modal = document.getElementById("modal")
            const element = document.getElementById("panier-non-vide")
            const stylesModal = window.getComputedStyle(modal)
            if (stylesModal.getPropertyValue("display") == "none") {
                element.style.display = "block";
                modal.style.display = "flex";
            }
        }

        // ferme les modales
        function closeModale(id)
        {
            const modal = document.getElementById("modal")
            const element = document.getElementById(id)
            element.style.display = "none";
            modal.style.display = "none";
        }
    </script>
{% endblock %}
