{% extends 'base.html.twig' %}

{% block title %}E-Commerce - {{ produit }}{% endblock %}

{% block meta %}E-Commerce, achetez {{ produit }} au meilleur pix !{% endblock %}

{% block body %}
    {# Fil d'ariane #}
    <div class="ariane">
        <div class="section-ariane section-ariane-lien section-ariane-accueil">
            <div class="mobile-invisible">
                <a href="{{ path('app_accueil') }}" title="Accueil"><img src="{{ asset('svg/accueil.svg') }}" alt="accueil"></a>
            </div>
            <div class="mobile-uniquement">
                {% if produit.categorie != null %}
                    <a href="{{ path('afficher_categorie',{ 'id':produit.categorie.id }) }}">Retour</a>
                {% else %}
                    <a href="{{ path('app_accueil') }}">Retour</a>
                {% endif %}
            </div>
        </div>
        <div class="mobile-invisible">
            {% for categorieParent in categoriesParent %}
                <img src="{{ asset('svg/separateur-ariane.svg') }}" alt="Séparateur">
                <div class="section-ariane section-ariane-lien">
                    <a href="{{ path('afficher_categorie', { 'id':categorieParent.id }) }}">{{ categorieParent }}</a>
                </div>
            {% endfor %}
        </div>
        <img src="{{ asset('svg/separateur-ariane.svg') }}" alt="separateur">
        <div class="section-ariane texte-ellispes">
            {{ produit }}
        </div>
    </div>

    <div class="conteneur-principal">
        {# Designation et résumé du produit #}
        <section class="conteneur conteneur-padding-produits produit-haut">
            <div>
                <h1 class="produit-designation">{{ produit }}</h1>
                <p class="produit-resume">{{ produit.resume }}</p>
            </div>
            <img class="mobile-invisible" src="{{ asset('img/marques/' ~ produit.marque.logo) }}" alt="{{ produit.marque }}">
        </section>

        {# Descriptif et achat du produit #}
        <section class="conteneur conteneur-padding-produits produit-conteneur-descriptif">
            <div class="produit-descriptif-image">
                <img src="{{ asset('img/produits/' ~ produit.photo) }}" alt="{{ produit }}">
            </div>
            <div class="produit-descriptif-achat">
                <p class="produit-descriptif">{{ produit.descriptif | raw }}</p>
                <div class="produit-achat-fiche">
                    <div class="produit-achat-infos">
                        <div class="stock">
                            {% if produit.stock > 0 %}
                                <span class="stock-oui">EN STOCK</span>
                            {% else %}
                                <span class="stock-non">RUPTURE</span>
                            {% endif %}
                        </div>
                        <span class="fiche-prix">{{ produit.prix }} €</span>
                    </div>
                    {{ form_start(quantiteFormulaire, { 'attr': { 'class': 'produit-achat-infos' }, 'action': path('ajout_produit_commande', {'id': produit.id }), 'method': 'POST' }) }}
                    {{ form_row(quantiteFormulaire.quantite) }}
                    {{ form_row(quantiteFormulaire.Valider, { 'label': '<img src="/svg/produits/panier.svg" alt="Ajouter au panier"> Ajouter au panier', 'label_html' : true }) }}
                    {{ form_end(quantiteFormulaire) }}
                </div>
            </div>
        </section>

        {# Sections #}
        <section class="conteneur">
            <div class="onglets">
                <div id="ongletDescriptif" class="onglet-section-produit onglet-actif">
                    Descriptif
                </div>
                <div id="ongletFiche" class="onglet-section-produit">
                    Fiche<span class="mobile-invisible"> technique</span>
                </div>
                <div id="ongletAvis" class="onglet-section-produit">
                    Avis<span class="mobile-invisible">  clients</span> ({{ produit.avis | length }})
                </div>
            </div>
            <section id="sectionDescriptif" class="conteneur-padding-produits">
                {% if produit.descriptif %}
                    {{ produit.descriptif | raw }}
                {% else %}
                    <p>Aucun descriptif pour ce produit.</p>
                {% endif %}
                <div class="produit-actions">
                    <a class="bouton-lien bouton-centre bouton-250" href="{{ path('recherche_marque', {'marque': produit.marque.id, 'produit': produit.id}) }}">Voir les produits {{ produit.marque }}</a>
                    <a class="bouton-lien bouton-centre bouton-250" href="{{ path('recherche_categorie_marque', {'marque': produit.marque.id, 'categorie': produit.categorie.id, 'produit': produit.id}) }}">Voir les {{ produit.categorie }} {{ produit.marque }}</a>
                </div>
            </section>
            <section id="sectionFiche" class="conteneur-padding-produits conteneur-padding-produits-tablette sub-conteneur-invisible">
                <h3 class="section-titre">Caractéristiques techniques :</h3>
                {% if caracteristiquesTechniques | length > 0 %}
                    <table>
                        <tbody>
                            {% for caracteristique in caracteristiquesTechniques %}
                                <tr>
                                    <td>{{ caracteristique.caracteristiqueTechnique.nom }}</td>
                                    <td>{{ caracteristique.quantite ? caracteristique.quantite ~ "x " }}{{ caracteristique.valeur }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                {% else %}
                    <p>Aucune caractéristiques technique n'a été renseignée pour ce produit.</p>
                {% endif %}
            </section>
            <section id="sectionAvis" class="conteneur-padding-produits conteneur-padding-produits-tablette sub-conteneur-invisible">
                <h3 class="section-titre">Les avis de nos clients :</h3>
                {% if avis | length > 0 %}
                    <div class="avis-liste">
                        {% for avi in avis %}
                            <article class="avis">
                                <div class="avis-infos">
                                    {% if avi.utilisateur %}
                                        <span class="avis-pseudo">{{ avi.utilisateur.pseudo ? avi.utilisateur.pseudo : "Utilisateur anonyme" }}</span> Publié le {{ avi.datePublication | date("d/m/Y") }}
                                    {% else %}
                                        <span class="avis-pseudo">Utilisateur supprimé</span> Publié le {{ avi.datePublication | date("d/m/Y") }}
                                    {% endif %}
                                </div>
                                <div class="avis-contenu">
                                    <h4 class="avis-titre">{{ avi.titre }}</h4>
                                    {{ avi.texte }}
                                </div>
                            </article>
                        {% endfor %}
                    </div>
                    {% if avis.pageCount > 1 %}
                        <div class="pagination">
                            {{ knp_pagination_render(avis) }}
                        </div>
                    {% endif %}
                {% else %}
                    <p>Aucun avis n'a tété posté pour ce produit.</p>
                {% endif %}
                {% if produitAchete %}
                    <h3 class="section-titre">Poster un avis :</h3>
                    {{ form_start(avisFormulaire) }}
                    <div class="formulaire-champ">
                        {{ form_row(avisFormulaire.titre) }}
                    </div>
                    <div class="formulaire-champ">
                        {{ form_row(avisFormulaire.texte) }}
                    </div>
                    {{ form_row(avisFormulaire.Valider) }}
                    {{ form_end(avisFormulaire) }}
                {% endif %}
            </section>
        </section>
    </div>

    <script>
        const ongletDescriptif = document.getElementById("ongletDescriptif");
        const sectionDescriptif = document.getElementById("sectionDescriptif");
        const ongletFiche = document.getElementById("ongletFiche");
        const sectionFiche = document.getElementById("sectionFiche");
        const ongletAvis = document.getElementById("ongletAvis");
        const sectionAvis = document.getElementById("sectionAvis");
        const classMenu = "onglet-actif";

        // Action lorsqu'on clique sur "Descriptif"
        ongletDescriptif.addEventListener("click", function()
        {
            ongletDescriptif.classList.add(classMenu);
            ongletFiche.classList.remove(classMenu);
            ongletAvis.classList.remove(classMenu);
            sectionDescriptif.classList.remove("sub-conteneur-invisible")
            sectionDescriptif.classList.add("sub-conteneur-visible-section-produits")
            sectionFiche.classList.remove("sub-conteneur-visible-section-produits")
            sectionFiche.classList.add("sub-conteneur-invisible")
            sectionAvis.classList.remove("sub-conteneur-visible-section-produits")
            sectionAvis.classList.add("sub-conteneur-invisible")
        })

         // Action lorsqu'on clique sur "Fiche technique"
         ongletFiche.addEventListener("click", function()
         {
            ongletDescriptif.classList.remove(classMenu);
            ongletFiche.classList.add(classMenu);
            ongletAvis.classList.remove(classMenu);
            sectionDescriptif.classList.remove("sub-conteneur-visible-section-produits")
            sectionDescriptif.classList.add("sub-conteneur-invisible")
            sectionFiche.classList.remove("sub-conteneur-invisible")
            sectionFiche.classList.add("sub-conteneur-visible-section-produits")
            sectionAvis.classList.remove("sub-conteneur-visible-section-produits")
            sectionAvis.classList.add("sub-conteneur-invisible")
         })

         // Action lorsqu'on clique sur "Avis clients"
         ongletAvis.addEventListener("click", function()
         {
            ongletDescriptif.classList.remove(classMenu);
            ongletFiche.classList.remove(classMenu);
            ongletAvis.classList.add(classMenu);
            sectionDescriptif.classList.remove("sub-conteneur-visible-section-produits")
            sectionDescriptif.classList.add("sub-conteneur-invisible")
            sectionFiche.classList.remove("sub-conteneur-visible-section-produits")
            sectionFiche.classList.add("sub-conteneur-invisible")
            sectionAvis.classList.remove("sub-conteneur-invisible")
            sectionAvis.classList.add("sub-conteneur-visible-section-produits")
         })
    </script>
{% endblock %}
