{% extends 'base.html.twig' %}

{% block title %}E-Commerce - Votre profil{% endblock %}

{% block body %}
    <div class="conteneur-principal">
        <div class="categories">
            <h2>Votre compte</h2>
            <div class="conteneur-categories">
                <div class="conteneur">
                    <div class="profil">
                        <img src="{{ asset('img/utilisateurs/avatar.png') }}" alt="Avatar de l'utilisateur">
                        {% if utilisateur.nom and utilisateur.prenom %}
                            <p>{{ utilisateur.nom }} {{ utilisateur.prenom }}</p>
                        {% endif %}
                        <a class="bouton-lien bouton-lien-centre bouton-200" href="{{ path('app_logout') }}"><img src="{{ asset('svg/utilisateurs/logout.svg') }}" alt="Se déconnecter">Se déconnecter</a>
                        <div class="profil-categories">
                            <div id="menuInfos" class="profil-categorie pc-actif">
                                Mes informations
                            </div>
                            <div id="menuCommandes" class="profil-categorie">
                                Mes commandes
                            </div>
                            <div id="menuAdresses" class="profil-categorie">
                                Mes adresses
                            </div>
                        </div>
                    </div>
                </div>
                <div id="infos" class="sub-conteneur sub-conteneur-visible">
                    <div class="conteneur conteneur-padding">
                        <h2>Vos informations personelles</h2>
                        {{ form_start(infosUtilisateur) }}
                        <div class="formulaire-centre">
                            <div class="formulaire-champ">
                                {{ form_row(infosUtilisateur.civilite) }}
                            </div>
                        </div>
                        <div>
                            <div>
                                <div class="formulaire-champ">
                                    {{ form_row(infosUtilisateur.nom) }}
                                </div>
                                <div class="formulaire-champ">
                                    {{ form_row(infosUtilisateur.prenom) }}
                                </div>
                            </div>
                            <div>
                                <div class="formulaire-champ">
                                    {{ form_row(infosUtilisateur.email) }}
                                </div>
                                <div class="formulaire-champ">
                                    {{ form_row(infosUtilisateur.pseudo) }}
                                </div>
                            </div>
                        </div>
                        <div class="bouton-centre">
                            {{ form_row(infosUtilisateur.Valider) }}
                        </div>
                        {{ form_end(infosUtilisateur) }}
                    </div>
                    <div class="conteneur conteneur-padding">
                        <h2>Changer le mot de passe</h2>
                        {{ form_start(mdpUtilisateur) }}
                        <div class="formulaire-champ">
                            {{ form_row(mdpUtilisateur.password) }}
                        </div>
                        <div class="bouton-centre">
                            {{ form_row(mdpUtilisateur.Valider) }}
                        </div>
                        {{ form_end(mdpUtilisateur) }}
                    </div>
                    <div class="conteneur">
                        <h2>Supprimer le compte</h2>
                        <div class="profil-supprimer">
                            <a class="bouton-lien bouton-lien-centre bouton-200" href="">Supprimer le compte</a>
                        </div>
                    </div>
                </div>
                <div id="commandes" class="sub-conteneur sub-conteneur-invisible">
                    <div class="conteneur conteneur-padding">
                        <h2>Vos commandes en cours</h2>
                        {% if commandesEnCours | length > 0 %}
                            <div class="panier-liste">
                                {% for commande in commandesEnCours %}
                                <div class="commande">
                                    <div class="commande-infos">
                                        N° {{ commande.commande.id}} <br>
                                        {{ commande.total }} € TTC<br>
                                        {{ commande.commande.dateCommande |date("d/m/Y") }}<br>
                                        <span class="etat-en-cours">{{ commande.commande.etat |capitalize }}</span>
                                    </div>
                                    <div>
                                        {% for produitCommande in commande.commande.produitCommandes %}
                                            <div class="commande-produit">
                                                <div class="produit-image">
                                                    <img src="{{ asset('img/produits/' ~ produitCommande.produit.categorie | lower | replace({ 'á':'a', 'é':'e', 'è':'e', 'í':'i', 'ó':'o', 'ú':'u' }) ~ '/' ~ produitCommande.produit.photo) }}" alt="{{ produitCommande.produit.designation }}">
                                                </div>
                                                <div class="produit-infos">
                                                    <span class="produit-designation"><a href="">{{ produitCommande.produit.designation }}</a></span>
                                                    <div class="panier-actions">
                                                        <span>X {{ produitCommande.quantite }}</span>
                                                        <span class="prix">{{ (produitCommande.produit.prix * produitCommande.quantite)  | number_format(2, '.') }} €</span>
                                                    </div>
                                                </div>
                                            </div>
                                        {% endfor %}
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                        {% else %}
                            <p>Vous n'avez aucune commande en cours</p>
                        {% endif %}
                    </div>
                    <div class="conteneur conteneur-padding">
                        <h2>Historique des commandes</h2>
                        {% if commandesPassees | length > 0 %}
                            <div class="panier-liste">
                                {% for commande in commandesPassees %}
                                <div class="commande">
                                    <div class="commande-infos">
                                        <div>N° {{ commande.commande.id}} <br>
                                            {{ commande.total }} € TTC<br>
                                            {{ commande.commande.dateCommande |date("d/m/Y") }}<br>
                                            <span class="etat-expediee">{{ commande.commande.etat |capitalize }}</span>
                                        </div>
                                        <div class="commande-details-action" onclick="toggleDetails('{{ commande.commande.id }}')">
                                            <span class="commande-details-text">
                                                Détails
                                                <img id="details-commande-chevron-{{ commande.commande.id }}" src="{{ asset('svg/utilisateurs/chevron-bas.svg') }}" alt="Voir les détails">
                                            </span>
                                            </div>
                                    </div>
                                    <div id="details-commande-{{ commande.commande.id }}" class="commande-details">
                                        {% for produitCommande in commande.commande.produitCommandes %}
                                            <div class="commande-produit">
                                                <div class="produit-image">
                                                    <img src="{{ asset('img/produits/' ~ produitCommande.produit.categorie | lower | replace({ 'á':'a', 'é':'e', 'è':'e', 'í':'i', 'ó':'o', 'ú':'u' }) ~ '/' ~ produitCommande.produit.photo) }}" alt="{{ produitCommande.produit.designation }}">
                                                </div>
                                                <div class="produit-infos">
                                                    <span class="produit-designation"><a href="">{{ produitCommande.produit.designation }}</a></span>
                                                    <div class="panier-actions">
                                                        <span>X {{ produitCommande.quantite }}</span>
                                                        <span class="prix">{{ (produitCommande.produit.prix * produitCommande.quantite)  | number_format(2, '.') }} €</span>
                                                    </div>
                                                </div>
                                            </div>
                                        {% endfor %}
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                        {% else %}
                            <p>Vous n'avez passé aucune commande</p>
                        {% endif %}
                    </div>
                </div>
                <div id="adresses" class="sub-conteneur sub-conteneur-invisible">
                    <div class="conteneur conteneur-padding">
                        <h2>Carnet d'adresses</h2>
                            <div class="adresses">
                                <div class="liste">
                                    <div class="adresse-haut">
                                        <img class="adresse-image" src="{{ asset('svg/utilisateurs/adresse-facturation.svg') }}" alt="Adresse de facturation">
                                        Adresse de Facturation
                                    </div>
                                    {% for adresse in adressesFacturation %}
                                        <div class="adresse-info">
                                            {% if adresse.utilisateur.civilite and adresse.utilisateur.nom and adresse.utilisateur.prenom %}
                                                {{ adresse.utilisateur.civilite }} {{ adresse.utilisateur.nom }} {{ adresse.utilisateur.prenom }}<br>
                                            {% endif %}
                                            {{ adresse.numero }}, {{ adresse.typeRue }} {{ adresse.rue }}<br>
                                            {{ adresse.codePostal }} {{ adresse.ville }}
                                            <a class="bouton-lien boutton-icone" href="">
                                                <img src="{{ asset('svg/utilisateurs/modifier.svg') }}" alt="Modifier">
                                            </a>
                                        </div>
                                    {% endfor %}
                                </div>
                                <div class="liste">
                                    <div class="adresse-haut">
                                        <img src="{{ asset('svg/utilisateurs/adresse-livraison.svg') }}" alt="Adresse de facturation">
                                        Adresse de Livraison
                                    </div>
                                    {% for adresse in adressesLivraison %}
                                        <div class="adresse-info">
                                            {% if adresse.utilisateur.civilite and adresse.utilisateur.nom and adresse.utilisateur.prenom %}
                                                {{ adresse.utilisateur.civilite }} {{ adresse.utilisateur.nom }} {{ adresse.utilisateur.prenom }}<br>
                                            {% endif %}
                                            {{ adresse.numero }}, {{ adresse.typeRue }} {{ adresse.rue }}<br>
                                            {{ adresse.codePostal }} {{ adresse.ville }}
                                            <div class="adresse-actions">
                                                <a class="bouton-lien boutton-icone" href="">
                                                    <img src="{{ asset('svg/utilisateurs/modifier.svg') }}" alt="Modifier">
                                                </a>
                                                <a class="bouton-lien boutton-icone" href="{{ path('supprimer_adresse_livraison', {'id': adresse.id})}}">
                                                    <img src="{{ asset('svg/commandes/supprimer.svg') }}" alt="Supprimer">
                                                </a>
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                            <div class="profil-bouton-centre">
                                <div class="bouton-lien bouton-lien-centre bouton-200" onclick="displayForms()">Ajouter une adresse</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="modal" class="modal">
        <div class="conteneur-modal">
            <div class="fermer-modal" onclick="closeModales()">
                <img class="modal-fermer" src="{{ asset('svg/fermer.svg') }}" alt="Fermer">
            </div>
            <div id="formulaires-adresses" class="formulaires-adresses">
                <h3>Ajouter une adresse</h3>
                <p>Remplissez les champs çi-dessous pour ajouter une adresse</p>
                <div class="types-facture">
                    <div class="type-label">
                        Type :
                    </div>
                    <div id="type-facturation" class="type-facture type-facture-selected" onclick="displayFacturationForm()">
                        Facturation
                    </div>
                    <div id="type-livraison" class="type-facture" onclick="displayLivraisonForm()">
                        Livraison
                    </div>
                </div>
                <div id="formulaire-facturation">
                    {{ form_start(adresseFacturationFormulaire, {'action': path('ajout_adresse_facturation'), 'method': 'POST'}) }}
                    <div class="formulaire-champ">
                        {{ form_row(adresseFacturationFormulaire.numero) }}
                    </div>
                    <div class="formulaire-champ">
                        {{ form_row(adresseFacturationFormulaire.typeRue) }}
                    </div>
                    <div class="formulaire-champ">
                        {{ form_row(adresseFacturationFormulaire.rue) }}
                    </div>
                    <div class="formulaire-champ">
                        {{ form_row(adresseFacturationFormulaire.codePostal) }}
                    </div>
                    <div class="formulaire-champ">
                        {{ form_row(adresseFacturationFormulaire.ville) }}
                    </div>
                    <div class="bouton-centre">
                        {{ form_row(adresseFacturationFormulaire.Valider) }}
                    </div>
                    {{ form_end(adresseFacturationFormulaire) }}
                </div>
                <div id="formulaire-livraison" class="formulaire-invisible">
                    {{ form_start(adresseLivraisonFormulaire, {'action': path('ajout_adresse_livraison'), 'method': 'POST'}) }}
                    <div class="formulaire-champ">
                        {{ form_row(adresseLivraisonFormulaire.numero) }}
                    </div>
                    <div class="formulaire-champ">
                        {{ form_row(adresseLivraisonFormulaire.typeRue) }}
                    </div>
                    <div class="formulaire-champ">
                        {{ form_row(adresseLivraisonFormulaire.rue) }}
                    </div>
                    <div class="formulaire-champ">
                        {{ form_row(adresseLivraisonFormulaire.codePostal) }}
                    </div>
                    <div class="formulaire-champ">
                        {{ form_row(adresseLivraisonFormulaire.ville) }}
                    </div>
                    <div class="bouton-centre">
                        {{ form_row(adresseLivraisonFormulaire.Valider) }}
                    </div>
                    {{ form_end(adresseLivraisonFormulaire) }}
                </div>
            </div>
        </div>
    </div>

    <script>
        // Affiche ou masque les détails d'une commande
        function toggleDetails(id)
        {
            const element = document.getElementById("details-commande-" + id)
            const chevron = document.getElementById("details-commande-chevron-" + id)
            const styles = window.getComputedStyle(element)
            if (styles.getPropertyValue("display") == "none") {
                element.style.display = "block";
                chevron.classList.add("rotation-chevron")
            } else {
                element.style.display = "none";
                chevron.classList.remove("rotation-chevron")
            }
        }

        // Affiche les formulaire d'ajout d'adresses
        function displayForms()
        {
            const modal = document.getElementById("modal")
            const element = document.getElementById("formulaires-adresses")
            const stylesModal = window.getComputedStyle(modal)
            if (stylesModal.getPropertyValue("display") == "none") {
                element.style.display = "block";
                modal.style.display = "flex";
            }
        }

        // Affiche le formulaire d'ajout d'adresse de facturation
        function displayFacturationForm()
        {
            const typeFacturation = document.getElementById("type-facturation")
            const typeLivraison = document.getElementById("type-livraison")
            const formulaireFacturation = document.getElementById("formulaire-facturation")
            const formulaireLivraison = document.getElementById("formulaire-livraison")

            typeFacturation.classList.add("type-facture-selected")
            typeLivraison.classList.remove("type-facture-selected")
            formulaireFacturation.classList.remove("formulaire-invisible")
            formulaireLivraison.classList.add("formulaire-invisible")
        }

        // Affiche le formulaire d'ajout d'adresse de livraison
        function displayLivraisonForm()
        {
            const typeFacturation = document.getElementById("type-facturation")
            const typeLivraison = document.getElementById("type-livraison")
            const formulaireFacturation = document.getElementById("formulaire-facturation")
            const formulaireLivraison = document.getElementById("formulaire-livraison")

            typeFacturation.classList.remove("type-facture-selected")
            typeLivraison.classList.add("type-facture-selected")
            formulaireFacturation.classList.add("formulaire-invisible")
            formulaireLivraison.classList.remove("formulaire-invisible")
        }

        // ferme les modales
        function closeModales()
        {
            const modal = document.getElementById("modal")
            const element = document.getElementById("formulaires-adresses")
            const stylesModal = window.getComputedStyle(modal)
            element.style.display = "none";
            modal.style.display = "none";
        }

        // Récupère les éléments du DOM dont l'état devra changer
        const infos = document.getElementById("infos");
        const menuInfos = document.getElementById("menuInfos");
        const commandes = document.getElementById("commandes");
        const menuCommandes = document.getElementById("menuCommandes");
        const adresses = document.getElementById("adresses");
        const menuAdresses = document.getElementById("menuAdresses");
        const classMenu = "pc-actif"

        // Action lorsqu'on clique sur "Mes informations"
        menuInfos.addEventListener("click", function()
        {
            menuInfos.classList.add(classMenu)
            infos.classList.remove("sub-conteneur-invisible")
            infos.classList.add("sub-conteneur-visible")
            menuCommandes.classList.remove(classMenu)
            commandes.classList.remove("sub-conteneur-visible")
            commandes.classList.add("sub-conteneur-invisible")
            menuAdresses.classList.remove(classMenu)
            adresses.classList.remove("sub-conteneur-visible")
            adresses.classList.add("sub-conteneur-invisible")
        })

        // Action lorsqu'on clique sur "Mes commandes"
        menuCommandes.addEventListener("click", function()
        {
            menuInfos.classList.remove(classMenu)
            infos.classList.remove("sub-conteneur-visible")
            infos.classList.add("sub-conteneur-invisible")
            menuCommandes.classList.add(classMenu)
            commandes.classList.remove("sub-conteneur-invisible")
            commandes.classList.add("sub-conteneur-visible")
            menuAdresses.classList.remove(classMenu)
            adresses.classList.remove("sub-conteneur-visible")
            adresses.classList.add("sub-conteneur-invisible")
        })

        // Action lorsqu'on clique sur "Mes adresses"
        menuAdresses.addEventListener("click", function()
        {
            menuInfos.classList.remove(classMenu)
            infos.classList.remove("sub-conteneur-visible")
            infos.classList.add("sub-conteneur-invisible")
            menuCommandes.classList.remove(classMenu)
            commandes.classList.remove("sub-conteneur-visible")
            commandes.classList.add("sub-conteneur-invisible")
            menuAdresses.classList.add(classMenu)
            adresses.classList.remove("sub-conteneur-invisible")
            adresses.classList.add("sub-conteneur-visible")
        })
    </script>
{% endblock %}