{% extends 'base.html.twig' %}

{% block title %}E-Commerce - Votre profil{% endblock %}

{% block body %}

<div class="conteneur-principal">
    <div class="categories">
        <h2>Votre compte</h2>
        <div class="conteneur">
            <div class="profil">
                <img src="{{ asset('img/utilisateurs/avatar.png') }}" alt="Avatar de l'utilisateur">
                {% if utilisateur.nom and utilisateur.prenom %}
                    <p>{{ utilisateur.nom }} {{ utilisateur.prenom }}</p>
                {% endif %}
                <a class="bouton-lien bouton-lien-centre bouton-200" href="{{ path('app_logout') }}"><img src="{{ asset('svg/utilisateurs/logout.svg') }}" alt="Se déconnecter">Se déconnecter</a>
                <div class="profil-categories">
                    <div id="menuInfos" class="profil-categorie pc-actif">
                        Mes informations
                    </div>
                    <div id="menuCommandes" class="profil-categorie">
                        Mes commandes
                    </div>
                    <div id="menuAdresses" class="profil-categorie">
                        Mes adresses
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="infos" class="sub-conteneur sub-conteneur-visible">
        <div class="conteneur">
            <h2>Vos informations personelles</h2>
            <div class="formulaire">
                {{ form_start(infosUtilisateur) }}
                <div class="formulaire-centre">
                    <div class="formulaire-champ">
                        {{ form_row(infosUtilisateur.civilite) }}
                    </div>
                </div>
                <div>
                    <div>
                        <div class="formulaire-champ">
                            {{ form_row(infosUtilisateur.nom) }}
                        </div>
                        <div class="formulaire-champ">
                            {{ form_row(infosUtilisateur.prenom) }}
                        </div>
                    </div>
                    <div>
                        <div class="formulaire-champ">
                            {{ form_row(infosUtilisateur.email) }}
                        </div>
                        <div class="formulaire-champ">
                            {{ form_row(infosUtilisateur.pseudo) }}
                        </div>
                    </div>
                </div>
                <div class="bouton-centre">
                    {{ form_row(infosUtilisateur.Valider) }}
                </div>
                {{ form_end(infosUtilisateur) }}
            </div>
        </div>
        <div class="conteneur">
            <h2>Changer le mot de passe</h2>
            <div class="formulaire">
                {{ form_start(mdpUtilisateur) }}
                <div class="formulaire-champ">
                    {{ form_row(mdpUtilisateur.password) }}
                </div>
                <div class="bouton-centre">
                    {{ form_row(mdpUtilisateur.Valider) }}
                </div>
                {{ form_end(mdpUtilisateur) }}
            </div>
        </div>
        <div class="conteneur">
            <h2>Supprimer le compte</h2>
            <div class="profil-supprimer">
                <a class="bouton-lien bouton-lien-centre bouton-200" href="">Supprimer le compte</a>
            </div>
        </div>
    </div>
    <div id="commandes" class="sub-conteneur sub-conteneur-invisible">
        <div class="conteneur">
            <h2>Vos commandes en cours</h2>
        </div>
        <div class="conteneur">
            <h2>Historique des commandes</h2>
        </div>
    </div>
    <div id="adresses" class="sub-conteneur sub-conteneur-invisible">
        <div class="conteneur">
            <h2>Carnet d'adresses</h2>
        </div>
    </div>
</div>

<script>
    /* Récupère les éléments du DOm dont l'état devra changer */
    const infos = document.getElementById("infos");
    const menuInfos = document.getElementById("menuInfos");
    const commandes = document.getElementById("commandes");
    const menuCommandes = document.getElementById("menuCommandes");
    const adresses = document.getElementById("adresses");
    const menuAdresses = document.getElementById("menuAdresses");
    const classMenu = "pc-actif"

    /* Action lorsqu'on clique sur "Mes informations" */
    menuInfos.addEventListener("click", function()
    {
        menuInfos.classList.add(classMenu)
        infos.classList.remove("sub-conteneur-invisible")
        infos.classList.add("sub-conteneur-visible")
        menuCommandes.classList.remove(classMenu)
        commandes.classList.remove("sub-conteneur-visible")
        commandes.classList.add("sub-conteneur-invisible")
        menuAdresses.classList.remove(classMenu)
        adresses.classList.remove("sub-conteneur-visible")
        adresses.classList.add("sub-conteneur-invisible")
    })

    /* Action lorsqu'on clique sur "Mes commandes" */
    menuCommandes.addEventListener("click", function()
    {
        menuInfos.classList.remove(classMenu)
        infos.classList.remove("sub-conteneur-visible")
        infos.classList.add("sub-conteneur-invisible")
        menuCommandes.classList.add(classMenu)
        commandes.classList.remove("sub-conteneur-invisible")
        commandes.classList.add("sub-conteneur-visible")
        menuAdresses.classList.remove(classMenu)
        adresses.classList.remove("sub-conteneur-visible")
        adresses.classList.add("sub-conteneur-invisible")
    })

    /* Action lorsqu'on clique sur "Mes adresses" */
    menuAdresses.addEventListener("click", function()
    {
        menuInfos.classList.remove(classMenu)
        infos.classList.remove("sub-conteneur-visible")
        infos.classList.add("sub-conteneur-invisible")
        menuCommandes.classList.remove(classMenu)
        commandes.classList.remove("sub-conteneur-visible")
        commandes.classList.add("sub-conteneur-invisible")
        menuAdresses.classList.add(classMenu)
        adresses.classList.remove("sub-conteneur-invisible")
        adresses.classList.add("sub-conteneur-visible")
    })
</script>

{% endblock %}