{% extends 'base.html.twig' %}

{% block title %}E-Commerce - Votre profil{% endblock %}

{% block meta %}E-Commerce, achetez tout votre matériel informatique au meilleur pix !{% endblock %}

{% block javascripts %}<script src="{{ asset('js/utilisateur.js')}}"></script>{% endblock %}

{% block body %}
    <div class="conteneur-principal">
        <section class="categories">
            <h2>Votre compte</h2>
            <div class="conteneur-conteneurs">
                {# Menu #}
                <section class="conteneur profil">
                    <img src="{{ asset('img/utilisateurs/avatar' ~ (app.user.civilite == 'madame' ? '-femme') ~ '.png') }}" alt="Avatar de l'utilisateur">
                    {% if app.user.nom and app.user.prenom %}
                        <p>{{ app.user.nom }} {{ app.user.prenom }}</p>
                    {% endif %}
                    <a class="bouton-lien bouton-200" href="{{ path('app_logout') }}"><img src="{{ asset('svg/utilisateurs/logout.svg') }}" alt="Se déconnecter">Se déconnecter</a>
                    <nav class="profil-categories">
                        <span id="menuInfos" class="profil-categorie pc-actif" onclick="showInformations()">Mes informations</span>
                        <span id="menuCommandes" class="profil-categorie" onclick="showOrders()">Mes commandes</span>
                        <span id="menuAdresses" class="profil-categorie" onclick="showAdresses()">Mes adresses</span>
                    </nav>
                </section>

                <div class="formulaires">
                    {# Informations #}
                    <section id="infos" class="sub-conteneur sub-conteneur-visible">
                        <div class="conteneur conteneur-padding">
                            <h2>Vos informations personelles</h2>
                            {{ form_start(infosUtilisateur, {'action': path('modifier_donnees_utilisateur'), 'method': 'POST'}) }}
                            <div class="formulaire-centre">
                                {{ form_row(infosUtilisateur.civilite) }}
                            </div>
                            <div class="formulaire-ligne">
                                <div class="formulaire-champ">
                                    {{ form_row(infosUtilisateur.nom) }}
                                </div>
                                <div class="formulaire-champ">
                                    {{ form_row(infosUtilisateur.prenom) }}
                                </div>
                            </div>
                            <div class="formulaire-ligne">
                                <div class="formulaire-champ">
                                    {{ form_row(infosUtilisateur.email) }}
                                </div>
                                <div class="formulaire-champ">
                                    {{ form_row(infosUtilisateur.pseudo) }}
                                </div>
                            </div>
                            {{ form_row(infosUtilisateur.Valider) }}
                            {{ form_end(infosUtilisateur) }}
                        </div>
                        <div class="conteneur conteneur-padding">
                            <h2>Changer le mot de passe</h2>
                            {{ form_start(mdpUtilisateur, {'action': path('modifier_mdp_utilisateur'), 'method': 'POST'}) }}
                            <div class="formulaire-ligne">
                                <div class="formulaire-champ">
                                    {{ form_row(mdpUtilisateur.oldPassword) }}
                                </div>
                            </div>
                            <div class="formulaire-ligne">
                                <div class="formulaire-champ formulaire-champ-mdp">
                                    {{ form_row(mdpUtilisateur.password) }}
                                </div>
                            </div>
                            {{ form_row(mdpUtilisateur.Valider) }}
                            {{ form_end(mdpUtilisateur) }}
                        </div>
                        <div class="conteneur">
                            <h2>Supprimer le compte</h2>
                            <div class="profil-supprimer">
                                <div class="bouton-lien bouton-200" onclick="displayDeleteAccount()">Supprimer le compte</div>
                            </div>
                        </div>
                    </section>

                    {# Commandes #}
                    <section id="commandes" class="sub-conteneur sub-conteneur-invisible">
                        <div class="conteneur conteneur-padding">
                            <h2>Vos commandes en cours</h2>
                            {% if commandesEnCours | length > 0 %}
                                {% for commande in commandesEnCours %}
                                    <div class="liste liste-separateur">
                                        <div class="commande">
                                            <div class="commande-infos">
                                                <div class="mobile-tablette-uniquement">
                                                    N° {{ commande.commande.id}} <br>
                                                    {{ commande.total }} € TTC<br>
                                                    {{ commande.commande.dateCommande | date("d/m/Y") }}<br>
                                                    <span class="etat-en-cours">{{ commande.commande.etat | capitalize }}</span>
                                                </div>
                                                <div class="ordinateur-uniquement commande-header">
                                                    <div class="commande-header-info">
                                                        <span class="commande-header-large">N° commande</span>
                                                        <span class="commande-header-tres-petit">Articles</span>
                                                        <span class="commande-header-normal">Prix</span>
                                                        <span class="commande-header-normal">Date</span>
                                                        <span class="commande-header-large">Statut</span>
                                                    </div>
                                                    <div class="commande-header-valeurs">
                                                        <span class="commande-header-large">{{ commande.commande.id}}</span>
                                                        <span class="commande-header-tres-petit">{{ commande.commande.produitCommandes | length }}</span>
                                                        <span class="commande-header-normal">{{ commande.total }} € TTC</span>
                                                        <span class="commande-header-normal">{{ commande.commande.dateCommande | date("d/m/Y") }}</span>
                                                        <span class="commande-header-large etat-en-cours">{{ commande.commande.etat }}</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="commande-details-visible">
                                                {% for produitCommande in commande.commande.produitCommandes %}
                                                    <article class="commande-produit">
                                                        <div class="produit-image produit-image-commande">
                                                            <img src="{{ asset('img/produits/' ~ produitCommande.produit.photo) }}" alt="{{ produitCommande.produit.designation }}">
                                                        </div>
                                                        <div class="produit-infos">
                                                            <span class="produit-designation"><a href="{{ path('voir_produit', {'id': produitCommande.produit.id}) }}">{{ produitCommande.produit.designation }}</a></span>
                                                            <div class="panier-actions">
                                                                <span>X {{ produitCommande.quantite }}</span>
                                                                <span class="prix">{{ (commande.commande.prixProduits[produitCommande.produit.id] * produitCommande.quantite)  | number_format(2, ',', ' ') }} €</span>
                                                            </div>
                                                        </div>
                                                    </article>
                                                {% endfor %}
                                                <a class="bouton-lien bouton-200" href="{{ path('generer_facture_pdf', {'id': commande.commande.id }) }}" target="_blank">Télécharger la facture</a>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            {% else %}
                                <p>Vous n'avez aucune commande en cours</p>
                            {% endif %}
                        </div>
                        <div class="conteneur conteneur-padding">
                            <h2>Historique des commandes</h2>
                            {% if commandesPassees | length > 0 %}
                                <div class="liste">
                                    <div class="ordinateur-uniquement commande-header">
                                        <div class="commande-header-info">
                                            <span class="commande-header-large">N° commande</span>
                                            <span class="commande-header-tres-petit">Articles</span>
                                            <span class="commande-header-normal">Prix</span>
                                            <span class="commande-header-petit">Date</span>
                                            <span class="commande-header-petit">Statut</span>
                                            <span class="commande-header-petit"></span>
                                        </div>
                                    </div>
                                    {% for commande in commandesPassees %}
                                        <div class="commande">
                                            <div class="commande-infos">
                                                <div class="mobile-tablette-uniquement">
                                                    N° {{ commande.commande.id}} <br>
                                                    {{ commande.total }} € TTC<br>
                                                    {{ commande.commande.dateCommande |date("d/m/Y") }}<br>
                                                    <span class="etat-expediee">{{ commande.commande.etat |capitalize }}</span>
                                                    <div class="commande-details-action" onclick="toggleDetails('{{ commande.commande.id }}')">
                                                        <span class="commande-details-text">
                                                            Détails
                                                            <img id="details-commande-chevron-mobile-{{ commande.commande.id }}" src="{{ asset('svg/utilisateurs/chevron-bas.svg') }}" alt="Voir les détails">
                                                        </span>
                                                    </div>
                                                </div>
                                                <div class="ordinateur-uniquement commande-header">
                                                    <div class="commande-header-valeurs">
                                                        <span class="commande-header-large">{{ commande.commande.id}}</span>
                                                        <span class="commande-header-tres-petit">{{ commande.commande.produitCommandes | length }}</span>
                                                        <span class="commande-header-normal">{{ commande.total }} € TTC</span>
                                                        <span class="commande-header-petit">{{ commande.commande.dateCommande | date("d/m/Y") }}</span>
                                                        <span class="commande-header-petit etat-expediee">{{ commande.commande.etat }}</span>
                                                        <span class="commande-header-petit commande-details-text" onclick="toggleDetails('{{ commande.commande.id }}')">
                                                            Détails
                                                            <img id="details-commande-chevron-{{ commande.commande.id }}" src="{{ asset('svg/utilisateurs/chevron-bas.svg') }}" alt="Voir les détails">
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div id="details-commande-{{ commande.commande.id }}" class="commande-details">
                                                {% for produitCommande in commande.commande.produitCommandes %}
                                                    <article class="commande-produit">
                                                        <div class="produit-image produit-image-commande">
                                                            <img src="{{ asset('img/produits/' ~ produitCommande.produit.photo) }}" alt="{{ produitCommande.produit.designation }}">
                                                        </div>
                                                        <div class="produit-infos">
                                                            <span class="produit-designation"><a href="{{ path('voir_produit', {'id': produitCommande.produit.id}) }}">{{ produitCommande.produit.designation }}</a></span>
                                                            <div class="panier-actions">
                                                                <span>X {{ produitCommande.quantite }}</span>
                                                                <span class="prix">{{ (commande.commande.prixProduits[produitCommande.produit.id] * produitCommande.quantite)  | number_format(2, ',', ' ') }} €</span>
                                                            </div>
                                                        </div>
                                                    </article>
                                                {% endfor %}
                                                <div class="profil-bouton-droite-facture">
                                                    <a class="bouton-lien bouton-200" href="{{ path('generer_facture_pdf', {'id': commande.commande.id }) }}" target="_blank">Télécharger la facture</a>
                                                </div>
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                            {% else %}
                                <p>Vous n'avez passé aucune commande</p>
                            {% endif %}
                        </div>
                    </section>

                    {# Adresses #}
                    <section id="adresses" class="sub-conteneur sub-conteneur-invisible">
                        <div class="conteneur conteneur-padding">
                            <h2>Carnet d'adresses</h2>
                                <div class="adresses">
                                    <div class="liste">
                                        <div class="adresse-haut">
                                            <img class="adresse-image" src="{{ asset('svg/utilisateurs/adresse-facturation.svg') }}" alt="Adresse de facturation">
                                            Adresse{{ adressesFacturation | length > 1 ? "s" }} de Facturation
                                        </div>
                                        {% for adresse in adressesFacturation %}
                                            <div class="adresse-info {{ adresse.preferee ? "adresse-preferee" }}">
                                                {{ adresse.numero }}, {{ adresse.typeRue }} {{ adresse.rue }}<br>
                                                {{ adresse.codePostal }} {{ adresse.ville }}
                                                <div class="adresse-actions">
                                                    <div class="bouton-lien bouton-icone" onclick="displayEditFacturationForm('{{ adresse.id }}')" title="Modifier l'adresse">
                                                        <img src="{{ asset('svg/utilisateurs/modifier.svg') }}" alt="Modifier">
                                                    </div>
                                                    <a 
                                                        class="bouton-lien bouton-icone" 
                                                        href="{{ path('supprimer_adresse_facturation', {'id': adresse.id})}}" 
                                                        title="Supprimer l'adresse"
                                                    >
                                                        <img src="{{ asset('svg/commandes/supprimer.svg') }}" alt="Supprimer">
                                                    </a>
                                                </div>
                                            </div>
                                        {% endfor %}
                                    </div>
                                    <div class="liste">
                                        <div class="adresse-haut">
                                            <img src="{{ asset('svg/utilisateurs/adresse-livraison.svg') }}" alt="Adresse de facturation">
                                            Adresse{{ adressesLivraison | length > 1 ? "s" }} de Livraison
                                        </div>
                                        {% for adresse in adressesLivraison %}
                                            <div class="adresse-info {{ adresse.preferee ? "adresse-preferee" }}">
                                                {{ adresse.numero }}, {{ adresse.typeRue }} {{ adresse.rue }}<br>
                                                {{ adresse.codePostal }} {{ adresse.ville }}
                                                <div class="adresse-actions">
                                                    <div class="bouton-lien bouton-icone" onclick="displayEditLivraisonForm('{{ adresse.id }}')" title="Modifier l'adresse">
                                                        <img src="{{ asset('svg/utilisateurs/modifier.svg') }}" alt="Modifier">
                                                    </div>
                                                    <a class="bouton-lien bouton-icone" href="{{ path('supprimer_adresse_livraison', {'id': adresse.id})}}" title="Supprimer l'adresse">
                                                        <img src="{{ asset('svg/commandes/supprimer.svg') }}" alt="Supprimer">
                                                    </a>
                                                </div>
                                            </div>
                                        {% endfor %}
                                    </div>
                                </div>
                                <div class="bouton-lien bouton-centre bouton-200" onclick="displayForms()">Ajouter une adresse</div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </section>
    </div>

    {# Modales #}
    <div id="modal" class="modal">
        <section id="suppression-compte-utilisateur" class="conteneur-modal">
            <div class="fermer-modal" onclick="closeModale('suppression-compte-utilisateur')">
                <img class="modal-fermer" src="{{ asset('svg/fermer.svg') }}" alt="Fermer">
            </div>
            <h3>Supprimer le compte</h3>
            <p>
                Vous êtes sur le point de supprimer votre compte.<br><br>
                Toutes vos informations personnelles utilisées sur le site seront anonymisées.<br><br>
                Cette action est irreverssible.<br><br>
                Êtes-vous sûr de vouloir supprimer votre compte ?
            </p>
            <div class="commande-suivant">
                <div class="bouton-lien bouton-100" onclick="closeModale('suppression-compte-utilisateur')">Annuler</div>
                <a class="bouton-lien bouton-valider-commande bouton-150" href="{{ path('supprimer_compte_utilisateur') }}">Supprimer le compte</a>
            </div>
        </section>
        {% for adresse in adressesFacturation %}
            <section id="formulaire-edition-facturation-{{ adresse.id }}" class="conteneur-modal">
                <div class="fermer-modal" onclick="closeModale('formulaire-edition-facturation-{{ adresse.id }}')">
                    <img class="modal-fermer" src="{{ asset('svg/fermer.svg') }}" alt="Fermer">
                </div>
                <h3>Modifier une adresse de Facturation</h3>
                <p>Remplissez les champs çi-dessous pour modifier cette adresse</p>
                <form name="adresse_facturation" method="post" action="{{ path('modifier_adresse_facturation', {'id': adresse.id}) }}">
                    <div class="formulaire-ligne-modal">
                        <div class="formulaire-champ">
                            <div>
                                <label for="adresse_facturation_numero-{{ adresse.id }}" class="required">Numero</label>
                                <input type="text" id="adresse_facturation_numero-{{ adresse.id }}" name="adresse_facturation[numero]" required="required" class="formulaire-texte" value="{{ adresse.numero }}">
                            </div>
                        </div>
                        <div class="formulaire-champ">
                            <div>
                                <label for="adresse_facturation_typeRue-{{ adresse.id }}" class="required">Type de rue</label>
                                <input type="text" id="adresse_facturation_typeRue-{{ adresse.id }}" name="adresse_facturation[typeRue]" required="required" class="formulaire-texte" value="{{ adresse.typeRue }}">
                            </div>
                        </div>
                    </div>
                    <div class="formulaire-ligne-modal">
                        <div class="formulaire-champ">
                            <div>
                                <label for="adresse_facturation_rue-{{ adresse.id }}" class="required">Rue</label>
                                <input type="text" id="adresse_facturation_rue-{{ adresse.id }}" name="adresse_facturation[rue]" required="required" class="formulaire-texte" value="{{ adresse.rue }}">
                            </div>
                        </div>
                        <div class="formulaire-champ">
                            <div>
                                <label for="adresse_facturation_codePostal-{{ adresse.id }}" class="required">Code postal</label>
                                <input type="text" id="adresse_facturation_codePostal-{{ adresse.id }}" name="adresse_facturation[codePostal]" required="required" class="formulaire-texte" value="{{ adresse.codePostal }}">
                            </div>
                        </div>
                    </div>
                    <div class="formulaire-champ">
                        <div>
                            <label for="adresse_facturation_ville-{{ adresse.id }}" class="required">Ville</label>
                            <input type="text" id="adresse_facturation_ville-{{ adresse.id }}" name="adresse_facturation[ville]" required="required" class="formulaire-texte" value="{{ adresse.ville }}">
                        </div>
                    </div>
                    <div class="formulaire-champ">
                        <div class="formulaire-champ-horizontal">
                            <label for="adresse_facturation_preferee-{{ adresse.id }}">Définir comme adresse préférée</label>
                            {% if adresse.preferee %}
                                <input type="checkbox" id="adresse_facturation_preferee-{{ adresse.id }}" name="adresse_facturation[preferee]" checked>
                            {% else %}
                                <input type="checkbox" id="adresse_facturation_preferee-{{ adresse.id }}" name="adresse_facturation[preferee]">
                            {% endif %}
                        </div>
                    </div>
                    <button type="submit" id="adresse_facturation_Valider-{{ adresse.id }}" name="adresse_facturation[Valider]" class="bouton-centre bouton-100">Valider</button>
                    <input type="hidden" name="token" value="{{ csrf_token('update-adresse-facturation') }}">
                </form>
            </section>
        {% endfor %}
        {% for adresse in adressesLivraison %}
            <section id="formulaire-edition-livraison-{{ adresse.id }}" class="conteneur-modal">
                <div class="fermer-modal" onclick="closeModale('formulaire-edition-livraison-{{ adresse.id }}')">
                    <img class="modal-fermer" src="{{ asset('svg/fermer.svg') }}" alt="Fermer">
                </div>
                <h3>Modifier une adresse de livraison</h3>
                <p>Remplissez les champs çi-dessous pour modifier cette adresse</p>
                <form name="adresse_livraison" method="post" action="{{ path('modifier_adresse_livraison', {'id': adresse.id}) }}">
                    <div class="formulaire-ligne-modal">
                        <div class="formulaire-champ">
                            <div>
                                <label for="adresse_livraison_numero-{{ adresse.id }}" class="required">Numero</label>
                                <input type="text" id="adresse_livraison_numero-{{ adresse.id }}" name="adresse_livraison[numero]" required="required" class="formulaire-texte" value="{{ adresse.numero }}">
                            </div>
                        </div>
                        <div class="formulaire-champ">
                            <div>
                                <label for="adresse_livraison_typeRue-{{ adresse.id }}" class="required">Type de rue</label>
                                <input type="text" id="adresse_livraison_typeRue-{{ adresse.id }}" name="adresse_livraison[typeRue]" required="required" class="formulaire-texte" value="{{ adresse.typeRue }}">
                            </div>
                        </div>
                    </div>
                    <div class="formulaire-ligne-modal">
                        <div class="formulaire-champ">
                            <div>
                                <label for="adresse_livraison_rue-{{ adresse.id }}" class="required">Rue</label>
                                <input type="text" id="adresse_livraison_rue-{{ adresse.id }}" name="adresse_livraison[rue]" required="required" class="formulaire-texte" value="{{ adresse.rue }}">
                            </div>
                        </div>
                        <div class="formulaire-champ">
                            <div>
                                <label for="adresse_livraison_codePostal-{{ adresse.id }}" class="required">Code postal</label>
                                <input type="text" id="adresse_livraison_codePostal-{{ adresse.id }}" name="adresse_livraison[codePostal]" required="required" class="formulaire-texte" value="{{ adresse.codePostal }}">
                            </div>
                        </div>
                    </div>
                    <div class="formulaire-champ">
                        <div>
                            <label for="adresse_livraison_ville-{{ adresse.id }}" class="required">Ville</label>
                            <input type="text" id="adresse_livraison_ville-{{ adresse.id }}" name="adresse_livraison[ville]" required="required" class="formulaire-texte" value="{{ adresse.ville }}">
                        </div>
                    </div>
                    <div class="formulaire-champ">
                        <div class="formulaire-champ-horizontal">
                            <label for="adresse_livraison_preferee-{{ adresse.id }}">Définir comme adresse préférée</label>
                            {% if adresse.preferee %}
                                <input type="checkbox" id="adresse_livraison_preferee-{{ adresse.id }}" name="adresse_livraison[preferee]" checked>
                            {% else %}
                                <input type="checkbox" id="adresse_livraison_preferee-{{ adresse.id }}" name="adresse_livraison[preferee]">
                            {% endif %}
                        </div>
                    </div>
                    <button type="submit" id="adresse_livraison_Valider-{{ adresse.id }}" name="adresse_livraison[Valider]" class="bouton-centre bouton-100">Valider</button>
                    <input type="hidden" name="token" value="{{ csrf_token('update-adresse-livraison') }}">
                </form>
            </section>
        {% endfor %}
        <section id="formulaires-adresses" class="conteneur-modal">
            <div class="fermer-modal" onclick="closeModale('formulaires-adresses')">
                <img class="modal-fermer" src="{{ asset('svg/fermer.svg') }}" alt="Fermer">
            </div>
            <h3>Ajouter une adresse</h3>
            <p>Remplissez les champs çi-dessous pour ajouter une adresse</p>
            <div class="types-facture">
                <div class="type-label">
                    Type :
                </div>
                <div id="type-facturation" class="type-facture type-facture-selected" onclick="displayFacturationForm()">
                    Facturation
                </div>
                <div id="type-livraison" class="type-facture" onclick="displayLivraisonForm()">
                    Livraison
                </div>
            </div>
            <div id="formulaire-facturation">
                {{ form_start(adresseFacturationFormulaire, {'action': path('ajout_adresse_facturation'), 'method': 'POST'}) }}
                <div class="formulaire-ligne-modal">
                    <div class="formulaire-champ">
                        {{ form_row(adresseFacturationFormulaire.numero) }}
                    </div>
                    <div class="formulaire-champ">
                        {{ form_row(adresseFacturationFormulaire.typeRue) }}
                    </div>
                </div>
                <div class="formulaire-ligne-modal">
                    <div class="formulaire-champ">
                        {{ form_row(adresseFacturationFormulaire.rue) }}
                    </div>
                    <div class="formulaire-champ">
                        {{ form_row(adresseFacturationFormulaire.codePostal) }}
                    </div>
                </div>
                <div class="formulaire-champ">
                    {{ form_row(adresseFacturationFormulaire.ville) }}
                </div>
                <div class="formulaire-champ">
                    {{ form_row(adresseFacturationFormulaire.preferee) }}
                </div>
                {{ form_row(adresseFacturationFormulaire.Valider) }}
                {{ form_end(adresseFacturationFormulaire) }}
            </div>
            <div id="formulaire-livraison" class="formulaire-modal-invisible">
                {{ form_start(adresseLivraisonFormulaire, {'action': path('ajout_adresse_livraison'), 'method': 'POST'}) }}
                <div class="formulaire-ligne-modal">
                    <div class="formulaire-champ">
                        {{ form_row(adresseLivraisonFormulaire.numero) }}
                    </div>
                    <div class="formulaire-champ">
                        {{ form_row(adresseLivraisonFormulaire.typeRue) }}
                    </div>
                </div>
                <div class="formulaire-ligne-modal">
                    <div class="formulaire-champ">
                        {{ form_row(adresseLivraisonFormulaire.rue) }}
                    </div>
                    <div class="formulaire-champ">
                        {{ form_row(adresseLivraisonFormulaire.codePostal) }}
                    </div>
                </div>
                <div class="formulaire-champ">
                    {{ form_row(adresseLivraisonFormulaire.ville) }}
                </div>
                <div class="formulaire-champ">
                    {{ form_row(adresseLivraisonFormulaire.preferee) }}
                </div>
                {{ form_row(adresseLivraisonFormulaire.Valider) }}
                {{ form_end(adresseLivraisonFormulaire) }}
            </div>
        </section>
    </div>
{% endblock %}