<div class="conteneur">
    <div class="profil">
        <img src="{{ asset('img/utilisateurs/avatar.png') }}" alt="Avatar de l'utilisateur">
        {% if utilisateur.nom and utilisateur.prenom %}
            <p>{{ utilisateur.nom }} {{ utilisateur.prenom }}</p>
        {% endif %}
        <a class="bouton-lien bouton-lien-centre bouton-200" href="{{ path('app_logout') }}"><img src="{{ asset('svg/utilisateurs/logout.svg') }}" alt="Se déconnecter">Se déconnecter</a>
        <div class="profil-categories">
            {% if categorie == "infos" %}
                <div class="profil-categorie pc-actif">
                    Mes informations
                </div>
            {% else %}
            <a href="">
                <div class="profil-categorie">
                    Mes informations
                </div>
            </a>
            {% endif %}
            {% if categorie == "commandes" %}
                <div class="profil-categorie pc-actif">
                    Mes commandes
                </div>
            {% else %}
                <a href="">
                    <div class="profil-categorie">
                        Mes commandes
                    </div>
                </a>
            {% endif %}
            {% if categorie == "adresses" %}
                <div class="profil-categorie pc-actif">
                    Mes adresses
                </div>
            {% else %}
                <a href="">
                    <div class="profil-categorie">
                        Mes adresses
                    </div>
                </a>
            {% endif %}
        </div>
    </div>
</div>