{% extends 'base.html.twig' %}

{% block title %}E-Commerce - Votre panier{% endblock %}

{% block body %}

<div class="conteneur-principal">
    <div class="categories">
        <h2>Votre panier</h2>
        <div class="conteneur-categories">
            {% if commande and lignesCommande %}
                <div class="conteneur conteneur-padding">
                    <h2>Votre panier contient {{ lignesCommande | length }} produit{{ lignesCommande | length != 1 ? "s" : "" }}</h2>
                    <div class="panier-liste">
                        {% for ligneCommande in lignesCommande %}
                            <div class="panier-produit">
                                <div class="produit-image">
                                    <img src="{{ asset('img/produits/' ~ ligneCommande.produit.categorie | lower | replace({ 'á':'a', 'é':'e', 'è':'e', 'í':'i', 'ó':'o', 'ú':'u' }) ~ '/' ~ ligneCommande.produit.photo) }}" alt="{{ ligneCommande.produit.designation }}">
                                </div>
                                <div class="produit-infos">
                                    <span class="produit-designation"><a href="">{{ ligneCommande.produit.designation }}</a></span>
                                    <span>
                                        Disponibilité :
                                        {% if ligneCommande.produit.disponible %}
                                            <span class="stock-oui">EN STOCK</span>
                                        {% else %}
                                            <span class="stock-non">RUPTURE</span>
                                        {% endif %}
                                    </span>
                                    <div class="panier-actions">
                                        <span>Quantité : {{ ligneCommande.quantite }}</span>
                                        <span class="prix">{{ (ligneCommande.produit.prix * ligneCommande.quantite)  | number_format(2, '.') }} €</span>
                                        <a href="{{ path('supprimer_produit_commande', { 'id': ligneCommande.produit.id }) }}"><img src="{{ asset('svg/commandes/supprimer.svg') }}" alt="supprimer le produit"></a>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div> 
                </div>
                <div class="conteneur conteneur-padding">
                    <div class="panier-total">
                        <h2>Montant total de vos produits</h2>
                        <span class="panier-prix">{{ total | number_format(2, '.')}} €</span>
                    </div>    
                    <a class="bouton-commander bouton-lien-centre" href="{{ path('valider_commande', {'id': commande.id }) }}">Passer commande</a>
                </div>
            {% else %}
            <div class="conteneur conteneur-padding">
                <h2>Votre panier est vide</h2>
                <img class="panier-vide" src="{{ asset('img/commandes/panier_vide.webp') }}" alt="votre panier est vide">
            </div>
            {% endif %}
            
        </div>
    </div>
</div>

{% endblock %}
