{% extends 'base.html.twig' %}

{% block title %}E-Commerce - Accueil{% endblock %}

{% block meta %}E-Commerce, achetez tout votre matériel informatique au meilleur pix !{% endblock %}

{% block body %}
    {# Nouveautés #}
    <section class="categories">
        <h2>Nouveautés</h2>
        <div class="mobile-uniquement">
            <section class="conteneur nouveautes">
                {% for ordinateur in ordinateurs | slice(0, 1) %}
                    <a href="{{ path('voir_produit', {'id': ordinateur.id}) }}" title="{{ ordinateur }}">
                        <div class="nouveau-produit">
                            <div class="produit-image-mini">
                                <img src="{{ asset('img/produits/' ~ ordinateur.photo) }}" alt="{{ ordinateur.designation }}">
                            </div>
                            <div class="nouveau-infos">
                                <span class="produit-designation no-transform">{{ ordinateur.designation }}</span>
                                <span class="prix">{{ ordinateur.prix }} €</span>
                            </div>
                        </div>
                    </a>
                {% endfor %}

                {% for composant in composants | slice(0, 1) %}
                    <a href="{{ path('voir_produit', {'id': composant.id}) }}" title="{{ composant }}">
                        <div class="nouveau-produit">
                            <div class="produit-image-mini">
                                <img src="{{ asset('img/produits/' ~ composant.photo) }}" alt="{{ composant.designation }}">
                            </div>
                            <div class="nouveau-infos">
                                <span class="produit-designation no-transform">{{ composant.designation }}</span>
                                <span class="prix">{{ composant.prix }} €</span>
                            </div>
                        </div>
                    </a>
                {% endfor %}

                {% for peripherique in peripheriques | slice(0, 1) %}
                    <a href="{{ path('voir_produit', {'id': peripherique.id}) }}" title="{{ peripherique }}">
                        <div class="nouveau-produit">
                            <div class="produit-image-mini">
                                <img src="{{ asset('img/produits/' ~ peripherique.photo) }}" alt="{{ peripherique.designation }}">
                            </div>
                            <div class="nouveau-infos">
                                <span class="produit-designation no-transform">{{ peripherique.designation }}</span>
                                <span class="prix">{{ peripherique.prix }} €</span>
                            </div>
                        </div>
                    </a>
                {% endfor %}
            </section>
        </div>
        <div class="tablette-uniquement">
            <section class="conteneur nouveautes">
                {% if ordinateurs | length > 0 %}
                    <h3 class="nouveautes-entete">Les nouveaux ordinateurs</h3>
                    <div class="nouveautes-ligne">
                        {% for ordinateur in ordinateurs | slice(0, 2) %}
                            <a href="{{ path('voir_produit', {'id': ordinateur.id}) }}" title="{{ ordinateur }}">
                                <div class="nouveau-produit">
                                    <div class="produit-image-mini">
                                        <img src="{{ asset('img/produits/' ~ ordinateur.photo) }}" alt="{{ ordinateur.designation }}">
                                    </div>
                                    <div class="nouveau-infos">
                                        <span class="produit-designation no-transform">{{ ordinateur.designation }}</span>
                                        <span class="prix">{{ ordinateur.prix }} €</span>
                                    </div>
                                </div>
                            </a>
                        {% endfor %}
                    </div>
                {% endif %}
                {% if composants | length > 0 %}
                    <h3 class="nouveautes-entete">Les nouveaux composants</h3>
                    <div class="nouveautes-ligne">
                        {% for composant in composants | slice(0, 2) %}
                            <a href="{{ path('voir_produit', {'id': composant.id}) }}" title="{{ composant }}">
                                <div class="nouveau-produit">
                                    <div class="produit-image-mini">
                                        <img src="{{ asset('img/produits/' ~ composant.photo) }}" alt="{{ composant.designation }}">
                                    </div>
                                    <div class="nouveau-infos">
                                        <span class="produit-designation no-transform">{{ composant.designation }}</span>
                                        <span class="prix">{{ composant.prix }} €</span>
                                    </div>
                                </div>
                            </a>
                        {% endfor %}
                    </div>
                {% endif %}
                {% if peripheriques | length > 0 %}
                    <h3 class="nouveautes-entete">Les nouveaux périphériques</h3>
                    <div class="nouveautes-ligne">
                        {% for peripherique in peripheriques | slice(0, 2) %}
                            <a href="{{ path('voir_produit', {'id': peripherique.id}) }}" title="{{ peripherique }}">
                                <div class="nouveau-produit">
                                    <div class="produit-image-mini">
                                        <img src="{{ asset('img/produits/' ~ peripherique.photo) }}" alt="{{ peripherique.designation }}">
                                    </div>
                                    <div class="nouveau-infos">
                                        <span class="produit-designation no-transform">{{ peripherique.designation }}</span>
                                        <span class="prix">{{ peripherique.prix }} €</span>
                                    </div>
                                </div>
                            </a>
                        {% endfor %}
                    </div>
                {% endif %}
            </section>
        </div>
        <div class="ordinateur-uniquement">
            <div class="conteneur-conteneurs">
                {% if ordinateurs | length > 0 %}
                    <section class="conteneur nouveautes">
                        <h3 class="nouveautes-entete">Les nouveaux ordinateurs</h3>
                        {% for ordinateur in ordinateurs %}
                            <a href="{{ path('voir_produit', {'id': ordinateur.id}) }}" title="{{ ordinateur }}">
                                <div class="nouveau-produit">
                                    <div class="produit-image-mini">
                                        <img src="{{ asset('img/produits/' ~ ordinateur.photo) }}" alt="{{ ordinateur.designation }}">
                                    </div>
                                    <div class="nouveau-infos">
                                        <span class="produit-designation no-transform">{{ ordinateur.designation }}</span>
                                        <span class="prix">{{ ordinateur.prix }} €</span>
                                    </div>
                                </div>
                            </a>
                        {% endfor %}
                        </section>
                {% endif %}
                {% if composants | length > 0 %}
                    <section class="conteneur nouveautes">
                        <h3 class="nouveautes-entete">Les nouveaux composants</h3>
                        {% for composant in composants %}
                            <a href="{{ path('voir_produit', {'id': composant.id}) }}" title="{{ composant }}">
                                <div class="nouveau-produit">
                                    <div class="produit-image-mini">
                                        <img src="{{ asset('img/produits/' ~ composant.photo) }}" alt="{{ composant.designation }}">
                                    </div>
                                    <div class="nouveau-infos">
                                        <span class="produit-designation no-transform">{{ composant.designation }}</span>
                                        <span class="prix">{{ composant.prix }} €</span>
                                    </div>
                                </div>
                            </a>
                        {% endfor %}
                    </section>
                {% endif %}
                {% if peripheriques | length > 0 %}
                    <section class="conteneur nouveautes">
                        <h3 class="nouveautes-entete">Les nouveaux périphériques</h3>
                        {% for peripherique in peripheriques %}
                            <a href="{{ path('voir_produit', {'id': peripherique.id}) }}" title="{{ peripherique }}">
                                <div class="nouveau-produit">
                                    <div class="produit-image-mini">
                                        <img src="{{ asset('img/produits/' ~ peripherique.photo) }}" alt="{{ peripherique.designation }}">
                                    </div>
                                    <div class="nouveau-infos">
                                        <span class="produit-designation no-transform">{{ peripherique.designation }}</span>
                                        <span class="prix">{{ peripherique.prix }} €</span>
                                    </div>
                                </div>
                            </a>
                        {% endfor %}
                    </section>
                {% endif %}
            </div>
        </div>
    </section>

    {# Catégories #}
    <section class="categories">
        <h2>Catégories</h2>
        <div class="conteneur-conteneurs">
            <section class="conteneur accueil-conteneur">
                <img class="accueil-conteneur-image" src="{{ asset('img/accueil/ordinateurs.png') }}" alt="Ordinateurs">
                <h3 class="accueil-nom-categorie" >Ordinateurs</h3>
                <ul>
                    {% for categorie in categories %}
                        {% if categorie.categorieParent.id == 1 %}
                            <li class="menu-categorie"><a href="{{ path('afficher_categorie', {'id': categorie.id }) }}">{{ categorie }}</a></li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </section>
            <section class="conteneur accueil-conteneur">
                <img class="accueil-conteneur-image" src="{{ asset('img/accueil/composants.png') }}" alt="Composants">
                <h3 class="accueil-nom-categorie" >Composants</h3>
                <ul>
                    {% for categorie in categories %}
                        {% if categorie.categorieParent.id == 2 %}
                            <li class="menu-categorie"><a href="{{ path('afficher_categorie', {'id': categorie.id }) }}">{{ categorie }}</a></li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </section>
            <section class="conteneur accueil-conteneur">
                <img class="accueil-conteneur-image" src="{{ asset('img/accueil/peripheriques.png') }}" alt="Péripheriques">
                <h3 class="accueil-nom-categorie" >Péripheriques</h3>
                <ul>
                    {% for categorie in categories %}
                        {% if categorie.categorieParent.id == 3 %}
                            <li class="menu-categorie"><a href="{{ path('afficher_categorie', {'id': categorie.id }) }}">{{ categorie }}</a></li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </section>
        </div>
    </section>

    {# Marques #}
    <section class="categories">
        <h2>Nos Marques</h2>
        <div class="conteneur marques">
            {% for marque in marques %}
                <div class="marque">
                    <div class="marque-image">
                        <img src="{{ asset('img/marques/' ~ marque.logo) }}" alt="{{ marque }}">
                    </div>
                    {{ marque }}
                </div>
            {% endfor %}
        </div>
    </section>

{% endblock %}
