{% extends 'base.html.twig' %}

{% block title %}E-Commerce - Accueil{% endblock %}

{% block body %}
    {# Nouveautés #}
    <div class="categories">
        <h2>Nouveautés</h2>
        <div class="conteneur nouveautes">
            {% for ordinateur in ordinateurs | slice(0, 1) %}
                <div class="nouveau-produit">
                    <div class="produit-image">
                        <img src="{{ asset('img/produits/' ~ ordinateur.photo) }}" alt="{{ ordinateur.designation }}">
                    </div>
                    <div class="nouveau-infos">
                        <span class="produit-designation"><a href="{{ path('voir_produit', {'id': ordinateur.id}) }}">{{ ordinateur.designation }}</a></span>
                        <span class="prix">{{ ordinateur.prix }} €</span>
                    </div>
                </div>
            {% endfor %}

            {% for composant in composants | slice(0, 1) %}
                <div class="nouveau-produit">
                    <div class="produit-image">
                        <img src="{{ asset('img/produits/' ~ composant.photo) }}" alt="{{ composant.designation }}">
                    </div>
                    <div class="nouveau-infos">
                        <span class="produit-designation"><a href="{{ path('voir_produit', {'id': composant.id}) }}">{{ composant.designation }}</a></span>
                        <span class="prix">{{ composant.prix }} €</span>
                    </div>
                </div>
            {% endfor %}

            {% for peripherique in peripheriques | slice(0, 1) %}
                <div class="nouveau-produit">
                    <div class="produit-image">
                        <img src="{{ asset('img/produits/' ~ peripherique.photo) }}" alt="{{ peripherique.designation }}">
                    </div>
                    <div class="nouveau-infos">
                        <span class="produit-designation"><a href="{{ path('voir_produit', {'id': peripherique.id}) }}">{{ peripherique.designation }}</a></span>
                        <span class="prix">{{ peripherique.prix }} €</span>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

    {# Catégories #}
    <div class="categories">
        <h2>Catégories</h2>
        <div class="conteneur accueil-conteneur">
            <img class="accueil-conteneur-image" src="{{ asset('img/accueil/ordinateurs.png') }}" alt="ordinateurs">
            <span class="accueil-nom-categorie" >Ordinateurs</span>
            <ul>
                {% for categorie in categories %}
                    {% if categorie.categorieParent.id == 1 %}
                        <li class="menu-categorie"><a href="{{ path('afficher_categorie', {'id': categorie.id }) }}">{{ categorie }}</a></li>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
        <div class="conteneur accueil-conteneur">
            <img class="accueil-conteneur-image" src="{{ asset('img/accueil/composants.png') }}" alt="composants">
            <span class="accueil-nom-categorie" >Composants</span>
            <ul>
                {% for categorie in categories %}
                    {% if categorie.categorieParent.id == 2 %}
                        <li class="menu-categorie"><a href="{{ path('afficher_categorie', {'id': categorie.id }) }}">{{ categorie }}</a></li>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
        <div class="conteneur accueil-conteneur">
            <img class="accueil-conteneur-image" src="{{ asset('img/accueil/peripheriques.png') }}" alt="péripheriques">
            <span class="accueil-nom-categorie" >Péripheriques</span>
            <ul>
                {% for categorie in categories %}
                    {% if categorie.categorieParent.id == 3 %}
                        <li class="menu-categorie"><a href="{{ path('afficher_categorie', {'id': categorie.id }) }}">{{ categorie }}</a></li>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
    </div>

    {# Marques #}
    <div class="categories">
        <h2>Nos Marques</h2>
        <div class="conteneur marques">
            {% for marque in marques %}
                <div class="marque">
                    <div class="marque-image">
                        <img src="{{ asset('img/marques/' ~ marque.logo) }}" alt="{{ marque }}">
                    </div>
                    {{ marque }}
                </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}
