{% extends 'base.html.twig' %}

{% block title %}E-Commerce - Accueil{% endblock %}

{% block body %}
    {# Nouveautés #}
    <div class="categories">
        <h2>Nouveautés</h2>
        <div class="conteneur nouveautes">
            {% for ordinateur in ordinateurs | slice(0, 1) %}
                <div class="nouveau-produit">
                    <div class="produit-image">
                        <img src="{{ asset('img/produits/' ~ ordinateur.categorie | lower | replace({ 'á':'a', 'é':'e', 'è':'e', 'í':'i', 'ó':'o', 'ú':'u' }) ~ '/' ~ ordinateur.photo) }}" alt="{{ ordinateur.designation }}">
                    </div>
                    <div class="nouveau-infos">
                        <span class="produit-designation"><a href="">{{ ordinateur.designation }}</a></span>
                        <span class="prix">{{ ordinateur.prix }} €</span>
                    </div>
                </div>
            {% endfor %}
        
            {% for composant in composants | slice(0, 1) %}
                <div class="nouveau-produit">
                    <div class="produit-image">
                        <img src="{{ asset('img/produits/' ~ composant.categorie | lower | replace({ 'á':'a', 'é':'e', 'è':'e', 'í':'i', 'ó':'o', 'ú':'u' }) ~ '/' ~ composant.photo) }}" alt="{{ composant.designation }}">
                    </div>
                    <div class="nouveau-infos">
                        <span class="produit-designation"><a href="">{{ composant.designation }}</a></span>
                        <span class="prix">{{ composant.prix }} €</span>
                    </div>
                </div>
            {% endfor %}
        
            {% for peripherique in peripheriques | slice(0, 1) %}
                <div class="nouveau-produit">
                    <div class="produit-image">
                        <img src="{{ asset('img/produits/' ~ peripherique.categorie | lower | replace({ 'á':'a', 'é':'e', 'è':'e', 'í':'i', 'ó':'o', 'ú':'u' }) ~ '/' ~ peripherique.photo) }}" alt="{{ peripherique.designation }}">
                    </div>
                    <div class="nouveau-infos">
                        <span class="produit-designation"><a href="">{{ peripherique.designation }}</a></span>
                        <span class="prix">{{ peripherique.prix }} €</span>
                    </div>
                </div>
            {% endfor %} 
        </div>   
    </div>

{% endblock %}
