<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="fr" xml:lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}E-Commerce - Bienvenue !{% endblock %}</title>
        <meta name="description" content="{% block meta %}{% endblock %}" />
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('css/style.css')}}">
            <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter&display=swap">
        {% endblock %}
        {% block javascripts %}{% endblock %}
    </head>
    <body>
        <header>
            {% include "header.html.twig" %}
        </header>
        <main>
            {% for message in app.flashes('success') %}
                <div class="message">
                    <img src="{{ asset('svg/flash-succes.svg') }}" alt="Réussite">
                    {{ message }}
                </div>
            {% endfor %}
            {% for message in app.flashes('danger') %}
                <div class="message">
                    <img src="{{ asset('svg/flash-erreur.svg') }}" alt="Erreur">
                    {{ message }}
                </div>
            {% endfor %}
            {% for message in app.flashes('notice') %}
                <div class="message">
                    <img src="{{ asset('svg/flash-infos.svg') }}" alt="Information">
                    {{ message }}
                </div>
            {% endfor %}
            {% block body %}{% endblock %}
        </main>
        <footer>
            {% include "footer.html.twig" %}
        </footer>
        {# Masquer les messages après 4 secondes (3 secondes d'attente + 1 seconde d'animation) #}
        <script>
            setTimeout(function() {
                // Récupère le 1er élément ayant la classe message
                message = document.getElementsByClassName('message')[0]
                if (message != undefined) {
                    message.style.display = 'none';
                }
            }, 3975); // 3975 au lieu de 4000 pour faire disparaître l'élément juste avant la fin de l'animation
        </script>
    </body>
</html>
