<div class="footerHaut">
    <div class="footerSection">
        <a href="{{ path('app_mentions_legales') }}">Mentions légales</a>
        <a href="{{ path('app_cgdv') }}">Conditions Générales de Vente / CGU</a>
    </div>
    <div class="footerSection">
        <a href="">Plan du site</a>
        <a href="{{ path('app_donnees_personnelles') }}">Protection des données personnelles</a>
    </div>
</div>
<div class="footerBas">
    <p>Suivez-nous sur les résaux sociaux</p>
    <div class="social">
        <img src="{{ asset('svg/socials/twitter.svg') }}" alt="Twitter">
        <img src="{{ asset('svg/socials/instagram.svg') }}" alt="Instagram">
        <img src="{{ asset('svg/socials/facebook.svg') }}" alt="Facebook">
        <img src="{{ asset('svg/socials/discord.svg') }}" alt="Discord">
        <img src="{{ asset('svg/socials/twitch.svg') }}" alt="Twitch">
        <img src="{{ asset('svg/socials/youtube.svg') }}" alt="Youtube">
    </div>
</div>