<div class="footerHaut">
    <div class="footerSection">
        <a href="">Mentions légales</a>
        <a href="">Conditions Générales de Vente / CGU</a>
    </div>
    <div class="footerSection">
        <a href="">Plan du site</a>
        <a href="">Protection des données personnelles</a>
    </div>
</div>
<div class="footerBas">
    <p>Suivez-nous sur les résaux sociaux</p>
    <div class="social">
        <img src="{{ asset('svg/socials/twitter.svg') }}" alt="twitter">
        <img src="{{ asset('svg/socials/instagram.svg') }}" alt="instagram">
        <img src="{{ asset('svg/socials/facebook.svg') }}" alt="facebook">
        <img src="{{ asset('svg/socials/discord.svg') }}" alt="discord">
        <img src="{{ asset('svg/socials/twitch.svg') }}" alt="twitch">
        <img src="{{ asset('svg/socials/youtube.svg') }}" alt="youtube">
    </div>
</div>