<div class="headerHaut">
    <div class="headerMenu">
        <img onclick="interactMenu()" src="{{ asset('svg/header/hamburger-menu.svg') }}" alt="menu">
        <div id="headerNavigation" class="headerNavigation">
            <ul>
                <li><a href="">Configurateur PC</a></li>
                <li><a href="{{ path('afficher_categorie',{ 'id':1 }) }}">Ordinateurs</a></li>
                <li><a href="{{ path('afficher_categorie',{ 'id':2 }) }}">Composants</a></li>
                <li><a href="{{ path('afficher_categorie',{ 'id':3 }) }}">Périphériques</a></li> 
            </ul>
        </div>    
    </div>
    <img class="headerLogo" src="{{ asset('img/logo.png') }}" alt="logo">
    <img src="{{ asset('svg/header/compte.svg') }}" alt="compte">
    <img src="{{ asset('svg/header/panier.svg') }}" alt="panier">
</div>
<form action="" method="post" class="">
    <input class="recherchePrincipale" type="text" id="recherchePrincipale" name="recherchePrincipale" placeholder="Rechercher un produit, une marque..." />
</form>

<script>
    function interactMenu() {
        const menu = document.getElementById("headerNavigation");
        const styles = window.getComputedStyle(menu)
        if (styles.getPropertyValue("display") == "none") {
            menu.style.display = "block";
        } else {
            menu.style.display = "none";
        }
    }
</script>