<div class="headerHaut">
    <img class="headerHautMenu" onclick="interactMenu()" src="{{ asset('svg/header/hamburger-menu.svg') }}" alt="menu">
    <nav aria-label="menu principal" id="headerNavigation" class="headerNavigation">
        <ul>
            <li><a class="menuOption" href="{{ path('configurateur') }}"><img src="{{ asset('svg/header/config.svg') }}" alt="Configurateur PC">Configurateur PC</a></li>
            {{ render(controller('App\\Controller\\CategorieController::generateNavbar')) }}
        </ul>
    </nav>
    <a href="{{ path('app_accueil') }}"><img class="headerLogo" src="{{ asset('img/logo.png') }}" alt="Logo"></a>
    <nav class="headerIcones">
        <a href="{{ app.user ? path('profil_utilisateur') : path('app_login') }}">
            <div class="headerIcone">
                <img src="{{ asset('svg/header/compte.svg') }}" alt="Compte">
                <span class="headerIcone-texte">Mon compte</span>
            </div>
        </a>       
        <a id="panier" href="{{ path('afficher_panier') }}">
            {% if app.user %}
                {% for commande in app.user.commandes %}
                    {% if commande.etat == "panier" and commande.produitCommandes | length > 0 %}
                        <div class="panier-nbr-produits">
                            {{ commande.produitCommandes |length }}
                        </div>
                    {% endif %}
                {% endfor %}
            {% else %}
                {% if app.session.get('panier') and app.session.get('panier') | length > 0 %}
                    <div class="panier-nbr-produits">
                        {{ app.session.get('panier') | length }}
                    </div>
                {% endif %}
            {% endif %}
            <div class="headerIcone">
                <img src="{{ asset('svg/header/panier.svg') }}" alt="Panier">
                <span class="headerIcone-texte">Mon panier</span>
            </div>
        </a>
    </nav>
</div>
{{ render(path('recherche_principale_formulaire')) }}

<script>
    function interactMenu() {
        const menu = document.getElementById("headerNavigation");
        const styles = window.getComputedStyle(menu)
        if (styles.getPropertyValue("display") == "none") {
            menu.style.display = "block";
        } else {
            menu.style.display = "none";
        }
    }
</script>