<div class="headerHaut">
    <img class="headerHautMenu" onclick="interactMenu()" src="{{ asset('svg/header/hamburger-menu.svg') }}" alt="menu">
    <nav aria-label="menu principal" id="headerNavigation" class="headerNavigation">
        <ul>
            <li><a class="menuOption" href=""><img src="{{ asset('svg/header/config.svg') }}" alt="Configurateur PC">Configurateur PC</a></li>
            <li><a class="menuOption" href="{{ path('afficher_categorie',{ 'id':1 }) }}"><img src="{{ asset('svg/header/ordinateurs.svg') }}" alt="Ordinateurs">Ordinateurs</a></li>
            <li><a class="menuOption" href="{{ path('afficher_categorie',{ 'id':2 }) }}"><img src="{{ asset('svg/header/composants.svg') }}" alt="Composants">Composants</a></li>
            <li><a class="menuOption" href="{{ path('afficher_categorie',{ 'id':3 }) }}"><img src="{{ asset('svg/header/peripheriques.svg') }}" alt="Peripheriques">Périphériques</a></li> 
        </ul>
    </nav>
    <a href="{{ path('app_accueil') }}"><img class="headerLogo" src="{{ asset('img/logo.png') }}" alt="Logo"></a>
    <nav class="headerIcones">
        {% if app.user %}
            <a href="{{ path('profil_utilisateur') }}">
        {% else %}
            <a href="{{ path('app_login') }}">
        {% endif %}
            <div class="headerIcone">
                <img src="{{ asset('svg/header/compte.svg') }}" alt="Compte">
                <span class="headerIcone-texte">Mon compte</span>
            </div>
        </a>
        {% if app.user %}
            <a id="panier" href="{{ path('afficher_panier') }}">
                {% for commande in app.user.commandes %}
                    {% if commande.etat == "panier" and commande.produitCommandes | length > 0 %}
                        <div class="panier-nbr-produits">
                            {{ commande.produitCommandes |length }}
                        </div>
                    {% endif %}
                {% endfor %}
        {% else %}
            <a href="{{ path('app_login') }}">
        {% endif %}
            <div class="headerIcone">
                <img src="{{ asset('svg/header/panier.svg') }}" alt="Panier">
                <span class="headerIcone-texte">Mon panier</span>
            </div>
        </a>
    </nav>
</div>
{{ render(path('recherche_principale_formulaire')) }}

<script>
    function interactMenu() {
        const menu = document.getElementById("headerNavigation");
        const styles = window.getComputedStyle(menu)
        if (styles.getPropertyValue("display") == "none") {
            menu.style.display = "block";
        } else {
            menu.style.display = "none";
        }
    }
</script>