<div class="headerHaut">
    <div class="headerMenu">
        <img class="headerHautMenu" onclick="interactMenu()" src="{{ asset('svg/header/hamburger-menu.svg') }}" alt="menu">
        <div id="headerNavigation" class="headerNavigation">
            <ul>
                <li class="menuOption"><a href="">Configurateur PC</a></li>
                <li class="menuOption"><a href="{{ path('afficher_categorie',{ 'id':1 }) }}">Ordinateurs</a></li>
                <li class="menuOption"><a href="{{ path('afficher_categorie',{ 'id':2 }) }}">Composants</a></li>
                <li class="menuOption"><a href="{{ path('afficher_categorie',{ 'id':3 }) }}">Périphériques</a></li> 
            </ul>
        </div>
    </div>
    <a href="{{ path('app_accueil') }}"><img class="headerLogo" src="{{ asset('img/logo.png') }}" alt="logo"></a>
        {% if app.user %}
            <a href="{{ path('profil_utilisateur') }}">
        {% else %}
            <a href="{{ path('app_login') }}">
        {% endif %}
        <img src="{{ asset('svg/header/compte.svg') }}" alt="compte">
    </a>
    {% if app.user %}
        <a id="panier" href="{{ path('afficher_panier') }}">
            {% for commande in app.user.commandes %}
                {% if commande.etat == "panier" %}
                    {% set nbrProduits = commande.produitCommandes |length %}
                    <div class="panier-nbr-produits {{ commande.produitCommandes | length > 0 ? "conteneur-principal" : "sub-conteneur-invisible"}}">
                        {{ nbrProduits }}
                    </div>
                {% endif %}
            {% endfor %}
    {% else %}
        <a href="{{ path('app_login') }}">
    {% endif %}
    <img src="{{ asset('svg/header/panier.svg') }}" alt="panier">
    </a>
</div>
<form action="" method="post" class="">
    <input class="recherchePrincipale" type="text" id="recherchePrincipale" name="recherchePrincipale" placeholder="Rechercher un produit, une marque..." />
</form>

<script>
    function interactMenu() {
        const menu = document.getElementById("headerNavigation");
        const styles = window.getComputedStyle(menu)
        if (styles.getPropertyValue("display") == "none") {
            menu.style.display = "block";
        } else {
            menu.style.display = "none";
        }
    }
</script>