{% extends 'base.html.twig' %}

{% block title %}E-Commerce - Votre recherche{% endblock %}

{% block meta %}E-Commerce, achetez tout votre matériel informatique au meilleur pix !{% endblock %}

{% block body %}
    {# Fil d'ariane #}
    <div class="ariane">
        <div class="section-ariane">
            <a href="{{ url }}">Retour</a>
        </div>
        <img src="{{ asset('svg/separateur-ariane.svg') }}" alt="Séparateur">
        <div class="section-ariane texte-ellispes">
            Recherche : {{ recherche }}
        </div>
    </div>

    <div class="conteneur-principal">
        {# Titre de la page de recherche #}
        <section>
            <h1>Votre recherche pour : "{{ recherche }}"</h1>
            <hr>
            <p>Il y a {{ produits | length }} produit{{ produits | length != 1 ? "s" }} correspondant à votre recherche.</p>
        </section>

        {# On affiche les produits correspondant à la recherche #}
        {% if produits |length > 0 %}
            {# Affiche la pagination #}
            {% if produits.pageCount > 1 %}
                <section class="conteneur">
                    {{ knp_pagination_render(produits) }}
                </section>
            {% endif %}

            {# Affiche les produits #}
            <section class="conteneur">
                {% for produit in produits %}
                    <article class="produit">
                        <div class="produit-image">
                            <img src="{{ asset('img/produits/' ~ produit.photo) }}" alt="{{ produit.designation }}">
                        </div>
                        <div class="produit-infos">
                            <span class="produit-designation"><a href="{{ path('voir_produit', {'id': produit.id}) }}">{{ produit.designation }}</a></span>
                            <span class="produit-resume">{{ produit.resume }}</span>
                            <div class="produit-prix">
                                {% if produit.stock > 0 %}
                                    <span class="stock-oui">EN STOCK</span>
                                {% else %}
                                    <span class="stock-non">RUPTURE</span>
                                {% endif %}
                                <div class="produit-achat">
                                    <span class="prix">
                                        {{ produit.prix | number_format(2, ',', ' ') }} €
                                    </span>
                                    <a class="bouton-achat" href="{{ path('ajout_produit_commande', { 'id': produit.id, 'recherche': recherche }) }}" title="Ajouter {{ produit }} au panier">
                                        <img src="{{ asset('svg/produits/panier.svg')}}" alt="Ajouter au panier">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </article>
                {% endfor %}
            </section>

            {# Affiche la pagination #}
            {% if produits.pageCount > 1 %}
                <section class="conteneur">
                    {{ knp_pagination_render(produits) }}
                </section>
            {% endif %}
        {% endif %}
    </div>
{% endblock %}
