{% extends 'base.html.twig' %}

{% block title %}E-Commerce - Votre recherche{% endblock %}

{% block body %}
    {# Fil d'ariane #}
    <div class="ariane">
        <div class="section-ariane">
            <a href="{{ url }}">Retour</a>
        </div>
        <svg width="29" height="30" viewBox="0 0 29 30" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M10.875 7.5L18.125 15L10.875 22.5M10.875 15H10.8871" stroke="#4B4343" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>
        <div class="section-ariane texte-ellispes">
            Recherche : {{ recherche }}
        </div>
    </div>

    <div class="conteneur-principal">
        {# Titre de la page de recherche #}
        <div>
            <h1>Votre recherche pour : "{{ recherche }}"</h1>
            <hr>
            <p>Il y a {{ produits | length }} produit{{ produits | length != 1 ? "s" : "" }} correspondant à votre recherche.</p>
        </div>

        {# On affiche les produits correspondant à la recherche #}
        {% if produits |length > 0 %}
            {# Affiche la pagination et le tri #}
            {% if produits.pageCount > 1 %}
                <div class="conteneur pagination-haut">
                    {{ knp_pagination_render(produits) }}
                    <select class="" name="tri" id="tri">
                        <option value="">Trier les produits</option>
                        <option value="nom">Nom</option>
                        <option value="marque">Marque</option>
                        <option value="prixASC">Du - cher au + cher</option>
                        <option value="prixDESC">Du + cher au - cher</option>
                    </select>
                </div>
            {% endif %}

            {# Affiche les produits #}
            <div class="conteneur">
                {% for produit in produits %}
                    <div class="produit">
                        <div class="produit-image">
                            <img src="{{ asset('img/produits/' ~ produit.photo) }}" alt="{{ produit.designation }}">
                        </div>
                        <div class="produit-infos">
                            <span class="produit-designation"><a href="{{ path('voir_produit', {'id': produit.id}) }}">{{ produit.designation }}</a></span>
                            <span class="produit-resume">{{ produit.resume }}</span>
                            <div class="produit-prix">
                                {% if produit.stock > 0 %}
                                    <span class="stock-oui">EN STOCK</span>
                                {% else %}
                                    <span class="stock-non">RUPTURE</span>
                                {% endif %}
                                <div class="produit-achat">
                                    <span class="prix">
                                        {{ produit.prix }} €
                                    </span>
                                    <a class="bouton-achat" href="{{ path('ajout_produit_commande', { 'id': produit.id }) }}">
                                        <img src="{{ asset('svg/produits/panier.svg')}}" alt="Ajouter au panier">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>

            {# Affiche la pagination #}
            {% if produits.pageCount > 1 %}
                <div class="conteneur">
                    {{ knp_pagination_render(produits) }}
                </div>
            {% endif %}
        {% endif %}
    </div>
{% endblock %}
