<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <title>E-Commerce - Facture n° {{ numeroFacture }}</title>
        <link type="text/css" rel="stylesheet" href="{{ asset('css/style.css')}}">
        <style>
            h1 {
                color: red;
            }

            table {
                border-collapse: collapse;
            }

            td, tr {
                border: 1px solid black;
                padding: 5px;
            }
            
            .adresse {
                font-weight: bold;
            }
        </style>
    </head>
    <body>
        <div>
            <h1>Facture n° {{ numeroFacture }} - Client n° {{ numeroClient }}</h1>
            <p>Civilité : {{ civilite | capitalize }}<br>
            Prenom : {{ prenom }}<br>
            Nom : {{ nom | upper }}<br>
            Date de la commande : {{ dateCommande | date("d/m/Y") }}</p>
            <span class="adresse">Adresse de facturation :</span>
            <p>{{ adresseFacturation | split('-')[0] }}<br>
            {{ adresseFacturation | split('-')[1] }}</p>
            <span class="adresse">Adresse de livraison :</span>
            <p>{{ adresseLivraison | split('-')[0] }}<br>
            {{ adresseLivraison | split('-')[1] }}</p>
            <table>
                <tr>
                    <td>Référence</td>
                    <td>Quantité</td>
                    <td>Désignation</td>
                    <td>Prix unitaire HT</td>
                    <td>Total HT</td>
                </tr>
                {% for ref, produit in produits %}
                    <tr>
                        <td>{{ ref }}</td>
                        <td>{{ produit.quantite }}</td>
                        <td>{{ produit.designation }}</td>
                        <td>{{ produit.prixHT }} €</td>
                        <td>{{ produit.prixHT * produit.quantite }} €</td>
                    </tr>
                {% endfor %}
            </table>
            <br>
            Total HT : {{ totalHT | number_format(2, ',', ' ') }} €<br>
            Total : {{ total | number_format(2, ',', ' ') }} €
        </div>
    </body>
</html>
