{% extends 'base.html.twig' %}

{% block title %}E-Commerce - Achats de {{ categorie }} au meilleur prix !{% endblock %}

{% block body %}

{# Fil d'ariane #}
<div class="ariane">
    <div class="section-ariane section-ariane-accueil">
        <div class="mobile-invisible">
            <a href="{{ path('app_accueil') }}">
                <svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M24.6 14.7C24.4051 14.7009 24.2154 14.6376 24.06 14.52L15 7.72801L5.94 14.52C5.74904 14.6632 5.50902 14.7247 5.27273 14.691C5.03642 14.6572 4.82322 14.5309 4.68 14.34C4.53679 14.1491 4.47529 13.909 4.50905 13.6727C4.5428 13.4364 4.66904 13.2232 4.86 13.08L14.46 5.88001C14.6158 5.76317 14.8052 5.70001 15 5.70001C15.1948 5.70001 15.3842 5.76317 15.54 5.88001L25.14 13.08C25.3142 13.2215 25.4293 13.4231 25.4627 13.6451C25.4959 13.8671 25.445 14.0935 25.32 14.28C25.2436 14.4036 25.1378 14.5066 25.0123 14.5798C24.8868 14.653 24.7452 14.6943 24.6 14.7Z" fill="black"/>
                    <path d="M22.2 24.3H7.79996C7.56223 24.2969 7.33512 24.2011 7.167 24.033C6.99889 23.8649 6.90307 23.6377 6.89996 23.4V12C6.89996 11.7613 6.99479 11.5324 7.16357 11.3636C7.33235 11.1948 7.56127 11.1 7.79996 11.1C8.03866 11.1 8.26758 11.1948 8.43636 11.3636C8.60514 11.5324 8.69996 11.7613 8.69996 12V22.5H21.3V12C21.3 11.7613 21.3948 11.5324 21.5636 11.3636C21.7323 11.1948 21.9613 11.1 22.2 11.1C22.4386 11.1 22.6676 11.1948 22.8363 11.3636C23.0052 11.5324 23.1 11.7613 23.1 12V23.4C23.0968 23.6377 23.0011 23.8649 22.833 24.033C22.6648 24.2011 22.4377 24.2969 22.2 24.3Z" fill="black"/>
                    <path d="M17.4 24.3C17.1622 24.2969 16.9351 24.2011 16.767 24.033C16.5988 23.8649 16.5031 23.6377 16.5 23.4V15.9H13.5V23.4C13.5 23.6387 13.4052 23.8676 13.2363 24.0364C13.0676 24.2052 12.8386 24.3 12.6 24.3C12.3613 24.3 12.1323 24.2052 11.9636 24.0364C11.7948 23.8676 11.7 23.6387 11.7 23.4V15C11.7031 14.7623 11.7989 14.5351 11.967 14.367C12.1351 14.1989 12.3622 14.1031 12.6 14.1H17.4C17.6377 14.1031 17.8648 14.1989 18.033 14.367C18.2011 14.5351 18.2968 14.7623 18.3 15V23.4C18.2968 23.6377 18.2011 23.8649 18.033 24.033C17.8648 24.2011 17.6377 24.2969 17.4 24.3Z" fill="black"/>
                </svg>
            </a>
        </div>
        <div class="mobile-uniquement">
            {% if categorie.categorieParent != null %}
                <a href="{{ path('afficher_categorie',{ 'id':categorie.categorieParent.id }) }}">Retour</a>
            {% else %}
                <a href="{{ path('app_accueil') }}">Retour</a>
            {% endif %}
        </div> 
    </div>
    <div class="mobile-invisible">
        {% for categorieParent in categoriesParent %}
        <svg width="29" height="30" viewBox="0 0 29 30" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M10.875 7.5L18.125 15L10.875 22.5M10.875 15H10.8871" stroke="#4B4343" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>
        <div class="section-ariane">
            <a href="{{ path('afficher_categorie', { 'id':categorieParent.id }) }}">{{ categorieParent }}</a>
        </div>
    {% endfor %}
    </div>
    <svg width="29" height="30" viewBox="0 0 29 30" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M10.875 7.5L18.125 15L10.875 22.5M10.875 15H10.8871" stroke="#4B4343" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
    </svg>
    <div class="section-ariane">
        {{ categorie }}
    </div>
</div>

<div class="conteneur-principal">
    {# Nom et description de la catégorie #}
    <div>
        <h1>{{ categorie }}</h1>
        <hr>
        <p>{{ categorie.description }}</p>
    </div>

    {# Vérifie si la catégorie à des sous-catégories ou non #}
    {% if categorie.sousCategories |length > 0 %} {# Si oui, on affiche les sous-catégories #}
        <div class="categories">
            <h2>Catégories {{ categorie }}</h2>
            <div class="liste-categories">
                {% for sousCategorie in categorie.sousCategories %}
                    <div class="conteneur sous-categorie">
                        <img src="{{ asset('img/categories/' ~ sousCategorie.image) }}" alt="{{ sousCategorie }}">
                        <a href="{{ path('afficher_categorie', { 'id':sousCategorie.id }) }}">{{ sousCategorie }}</a>
                    </div>
                {% endfor %}
            </div>
        </div>
    {% else %} {# Si non, on affiche les produits de la catégorie #}

        {% if produits |length == 0 %}
            <div class="conteneur">
                <p class="aucunProduit">Désolé, pour le moment il n'y à aucun produit dans cette catégorie</p>
            </div>
        {% else %}
            {# Affiche les options de filtre des résultats #}
            <div class="conteneur filtres">
                <h2>Filtrez votre recherche</h2>
                <div class="chevron">
                    <svg width="33" height="33" viewBox="0 0 33 33" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M24.75 20.625L16.5 12.375L8.25 20.625" stroke="#5B5656" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>                
                </div>
                <hr>
                <form action="" method="post" class="">
                    <div class="formulaire-groupe-centre">
                        <label for "recherche">Cherchez une référence</label>
                        <div class="formulaire-texte-bouton">
                            <input type="text" id="recherche" name="recherche" placeholder="Désignation, modèle,..." />
                            <button class="boutton-icone" type="submit">
                                <svg width="25" height="25" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M8.88926 4.81094C7.69301 4.85701 6.61157 5.28394 6.03338 5.86282C5.96951 5.92665 5.89368 5.97727 5.81024 6.0118C5.7268 6.04633 5.63738 6.06408 5.54708 6.06405C5.45677 6.06402 5.36736 6.0462 5.28395 6.01162C5.20053 5.97703 5.12474 5.92635 5.06091 5.86248C4.99708 5.7986 4.94646 5.72278 4.91193 5.63934C4.8774 5.5559 4.85965 5.46647 4.85968 5.37617C4.85971 5.28587 4.87753 5.19646 4.91212 5.11304C4.9467 5.02962 4.99738 4.95384 5.06126 4.89001C5.95294 3.99832 7.40494 3.49232 8.83563 3.43663C10.2759 3.38094 11.8483 3.77488 12.9496 4.87626C13.0785 5.00526 13.1509 5.18019 13.1509 5.36256C13.1508 5.54494 13.0783 5.71981 12.9493 5.84872C12.8203 5.97764 12.6454 6.05002 12.463 6.04996C12.2806 6.04989 12.1057 5.97738 11.9768 5.84838C11.2274 5.09832 10.0766 4.76419 8.88926 4.81026V4.81094Z" fill="white"/>
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M15.8935 14.8265C17.2567 13.2156 18.0033 11.1728 18 9.0625C18 4.12625 13.9987 0.125 9.0625 0.125C4.12625 0.125 0.125 4.12625 0.125 9.0625C0.125 13.9987 4.12625 18 9.0625 18C11.2591 18 13.27 17.208 14.8265 15.8935L14.5625 17.4115L19.7284 22.5774L22.5774 19.7284L17.4115 14.5625L15.8935 14.8265ZM9.0625 15.9375C12.8596 15.9375 15.9375 12.8596 15.9375 9.0625C15.9375 5.26544 12.8596 2.1875 9.0625 2.1875C5.26544 2.1875 2.1875 5.26544 2.1875 9.0625C2.1875 12.8596 5.26544 15.9375 9.0625 15.9375Z" fill="white"/>
                                    <path d="M20.7005 23.5494L23.5495 20.7004L24.4818 21.6327C25.0063 22.1573 25.0063 23.0077 24.4818 23.5316L23.5316 24.4817C23.0071 25.0063 22.1566 25.0063 21.6327 24.4817L20.7005 23.5494Z" fill="white"/>
                                </svg>                            
                            </button>
                        </div>
                    </div>
                    <h3>Disponibilité</h3>
                    <div class="formulaire-coche">           
                        <input type="checkbox" id="stock" name="stock" />
                        <label for ="stock">Uniquement les produits en stock</label>
                    </div>
                    <h3>Marque</h3>
                    {% for marque, quantite in marques %}
                    <div class="formulaire-coche">  
                        <input type="checkbox" id="{{ marque | lower }}" name="{{ marque | lower }}" />
                        <label for ="{{ marque | lower }}">{{ marque }} ({{ quantite }})</label>
                    </div>
                    {% endfor %}
                    <h3>Prix</h3>
                    <div class="formulaire-double-texte">
                        <input type="text" id="prixMin" name="prixMin" placeholder="Minimum" />
                        <input type="text" id="prixMax" name="prixMax" placeholder="Maximum" />
                    </div>
                    <div class="bouton-centre">
                        <button class="bouton-150" type="submit">Valider</button>
                    </div>
                </form>
            </div>

            {# Affiche la pagination et le tri #}
            {% if produits.pageCount > 1 %}
                <div class="conteneur pagination-haut">
                    {{ knp_pagination_render(produits) }}
                    <select class="" name="tri" id="tri">
                        <option value="">Trier les produits</option>
                        <option value="nom">Nom</option>
                        <option value="marque">Marque</option>
                        <option value="prixASC">Du - cher au + cher</option>
                        <option value="prixDESC">Du + cher au - cher</option>
                    </select>
                </div>
            {% endif %}

            {# Affiche les produits #}
            <div class="conteneur">
                {% for produit in produits %}
                    <div class="produit">
                        <div class="produit-image">
                            <img src="{{ asset('img/produits/' ~ categorie | lower | replace({ 'á':'a', 'é':'e', 'è':'e', 'í':'i', 'ó':'o', 'ú':'u' }) ~ '/' ~ produit.photo) }}" alt="{{ produit.designation }}">
                        </div>
                        <div class="produit-infos">
                            <span class="produit-designation"><a href="">{{ produit.designation }}</a></span>
                            <span class="produit-resume">{{ produit.resume }}</span>
                            <div class="produit-prix">
                                {% if produit.disponible %}
                                    <span class="stock-oui">EN STOCK</span>
                                {% else %}
                                <span class="stock-non">RUPTURE</span>
                                {% endif %}
                                <div class="produit-achat">
                                    <span class="prix">
                                        {{ produit.prix }} €
                                    </span>
                                    <button class="bouton-icone bouton-achat">
                                        <svg width="34" height="34" viewBox="0 0 34 34" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M10.625 25.5C11.7986 25.5 12.75 26.4514 12.75 27.625C12.75 28.7986 11.7986 29.75 10.625 29.75C9.45139 29.75 8.5 28.7986 8.5 27.625C8.5 26.4514 9.45139 25.5 10.625 25.5Z" stroke="white" stroke-width="3"/>
                                            <path d="M23.375 25.5002C24.5486 25.5002 25.5 26.4515 25.5 27.6252C25.5 28.7988 24.5486 29.7502 23.375 29.7502C22.2014 29.7502 21.25 28.7988 21.25 27.6252C21.25 26.4515 22.2014 25.5002 23.375 25.5002Z" stroke="white" stroke-width="3"/>
                                            <path d="M2.83331 4.25L3.20336 4.38011C5.04728 5.02839 5.96925 5.35253 6.49659 6.12422C7.02393 6.89592 7.02393 7.92095 7.02393 9.97101V13.8267C7.02393 17.9939 7.11352 19.3691 8.34092 20.6638C9.56832 21.9583 11.5438 21.9583 15.4948 21.9583H17M23.0072 21.9583C25.2186 21.9583 26.3243 21.9583 27.1059 21.3214C27.8875 20.6845 28.1108 19.6016 28.5571 17.4356L29.2652 14.0006C29.7569 11.5369 30.0027 10.3051 29.3739 9.48753C28.745 8.67 26.5962 8.67 24.2091 8.67H15.6166M7.02393 8.67H9.91665" stroke="white" stroke-width="3" stroke-linecap="round"/>
                                        </svg>                                    
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>

            {# Affiche la pagination #}
            {% if produits.pageCount > 1 %}
                <div class="conteneur">
                    {{ knp_pagination_render(produits) }}
                </div>
            {% endif %}
        {% endif %}

    {% endif %}
</div>
{% endblock %}
