{% extends 'base.html.twig' %}

{% block title %}E-Commerce - Achats de {{ categorie | lower }} au meilleur prix !{% endblock %}

{% block meta %}E-Commerce, achetez tout vos {{ categorie | lower }} au meilleur pix !{% endblock %}

{% block body %}
    {# Fil d'ariane #}
    <div class="ariane">
        <div class="section-ariane section-ariane-lien section-ariane-accueil">
            <div class="mobile-invisible">
                <a href="{{ path('app_accueil') }}" title="Accueil"><img src="{{ asset('svg/accueil.svg') }}" alt="Accueil"></a>
            </div>
            <div class="mobile-uniquement">
                {% if categorie.categorieParent != null %}
                    <a href="{{ path('afficher_categorie',{ 'id':categorie.categorieParent.id }) }}">Retour</a>
                {% else %}
                    <a href="{{ path('app_accueil') }}">Retour</a>
                {% endif %}
            </div>
        </div>
        <div class="mobile-invisible">
            {% for categorieParent in categoriesParent %}
                <img src="{{ asset('svg/separateur-ariane.svg') }}" alt="Séparateur">
                <div class="section-ariane section-ariane-lien">
                    <a href="{{ path('afficher_categorie', { 'id':categorieParent.id }) }}">{{ categorieParent }}</a>
                </div>
            {% endfor %}
        </div>
        <img src="{{ asset('svg/separateur-ariane.svg') }}" alt="Séparateur">
        <div class="section-ariane texte-ellispes">
            {{ categorie }}
        </div>
    </div>

    <div class="conteneur-principal">
        {# Nom et description de la catégorie #}
        <section>
            <h1>{{ categorie }}</h1>
            <hr>
            <p>{{ categorie.description | raw }}</p>
        </section>

        {# Vérifie si la catégorie à des sous-catégories ou non #}
        {% if categorie.sousCategories |length > 0 %} {# Si oui, on affiche les sous-catégories #}
            <section class="categories">
                <h2>Catégories {{ categorie }}</h2>
                <div class="liste-categories">
                    {% for sousCategorie in categorie.sousCategories %}
                    <a class="conteneur sous-categorie" href="{{ path('afficher_categorie', { 'id':sousCategorie.id }) }}">
                        <img src="{{ asset('img/categories/' ~ sousCategorie.image) }}" alt="{{ sousCategorie }}">
                        <span class="sous-categorie-nom">{{ sousCategorie }}</span>
                    </a>
                    {% endfor %}
                </div>
            </section>
        {% else %} {# Si non, on affiche les produits de la catégorie #}
            {% if produits | length == 0 and not filtres %}
                <section class="conteneur">
                    <p class="aucunProduit">Désolé, pour le moment il n'y à aucun produit dans cette catégorie</p>
                </section>
            {% else %}
                <div class="conteneur-conteneurs">
                    {# Affiche les options de filtre des résultats #}
                    <section class="conteneur filtres">
                        <div id="filtres-titre">
                            <h2>Filtrez votre recherche</h2>
                            <div id="chevron" class="chevron">
                                <svg width="33" height="33" viewBox="0 0 33 33" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M24.75 20.625L16.5 12.375L8.25 20.625" stroke="#5B5656" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
                                </svg>
                            </div>
                        </div>
                        <div id="filtres-recherche" class="filtres-recherche formulaire-invisible">
                            <hr>
                            {{ form_start(filtresFormulaire, { 'attr' : { 'class': 'formulaire-filtres' } }) }}
                                <h3>Référence</h3>
                                {{ form_row(filtresFormulaire.reference) }}
                                <h3>Disponibilité</h3>
                                <div class="formulaire-coche">
                                    {{ form_widget(filtresFormulaire.disponibilite) }} {{ form_label(filtresFormulaire.disponibilite) }}
                                </div>
                                <h3>Marque</h3>
                                {% for marque in filtresFormulaire.marques %}
                                    <div class="formulaire-coche">
                                        {{ form_widget(marque) }} {{ form_label(marque, marque.vars.label ~ " (" ~ marques[marque.vars.label] ~ ")") }}
                                    </div>
                                {% endfor %}
                                <h3>Prix</h3>
                                <div class="formulaire-double-texte">
                                    {{ form_row(filtresFormulaire.prixMinimum) }}
                                    {{ form_row(filtresFormulaire.prixMaximum) }}
                                </div>
                                <h3>Tri des résultats</h3>
                                {{ form_row(filtresFormulaire.tri) }}
                                {{ form_row(filtresFormulaire.Valider) }}
                            {{ form_end(filtresFormulaire) }}
                        </div>
                    </section>

                    {# Affiche les produits, ou un message si les filtres ne retournent aucun produit #}
                    {% if produits | length == 0 and filtres %}
                        <section class="conteneur">
                            <p class="aucunProduit">Aucun produit ne correspond aux filtres que vous avez spécifié.</p>
                        </section>
                    {% else %}
                        <section class="liste-produits">
                            {# Affiche la pagination et le tri #}
                            {% if produits.pageCount > 1 %}
                                <section class="conteneur pagination-haut">
                                    {{ knp_pagination_render(produits) }}
                                </section>
                            {% endif %}

                            {# Affiche les produits #}
                            <div class="conteneur">
                                {% for produit in produits %}
                                    <article class="produit">
                                        <div class="produit-image">
                                            <img src="{{ asset('img/produits/' ~ produit.photo) }}" alt="{{ produit.designation }}">
                                        </div>
                                        <div class="produit-infos">
                                            <span class="produit-designation"><a href="{{ path('voir_produit', {'id': produit.id}) }}">{{ produit.designation }}</a></span>
                                            <span class="produit-resume">{{ produit.resume }}</span>
                                            <div class="produit-prix">
                                                {% if produit.stock > 0 %}
                                                    <span class="stock-oui">EN STOCK</span>
                                                {% else %}
                                                    <span class="stock-non">RUPTURE</span>
                                                {% endif %}
                                                <div class="produit-achat">
                                                    <span class="prix">
                                                        {{ produit.prix }} €
                                                    </span>
                                                    <a class="bouton-achat" href="{{ path('ajout_produit_commande', { 'id': produit.id }) }}" title="Ajouter {{ produit.designation }} au panier">
                                                        <img src="{{ asset('svg/produits/panier.svg')}}" alt="Ajouter au panier">
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </article>
                                {% endfor %}
                            </div>

                            {# Affiche la pagination #}
                            {% if produits.pageCount > 1 %}
                                <section class="conteneur">
                                    {{ knp_pagination_render(produits) }}
                                </section>
                            {% endif %}
                        </section>
                    {% endif %}
                </div>
            {% endif %}
        {% endif %}
    </div>

    <script>
        const filtresTitre = document.getElementById("filtres-titre");
        const filtresRecherche = document.getElementById("filtres-recherche");
        const chevron = document.getElementById("chevron");
        const styles = window.getComputedStyle(filtresRecherche)

        filtresTitre.addEventListener("click", function()
        {
            if (styles.getPropertyValue("display") == "none") {
                filtresRecherche.classList.add("sub-conteneur-visible-filtres");
                chevron.classList.add("chevron-fermer");
                filtresRecherche.classList.remove("formulaire-invisible");
            } else {
                filtresRecherche.classList.remove("sub-conteneur-visible-filtres");
                chevron.classList.remove("chevron-fermer");
                filtresRecherche.classList.add("formulaire-invisible");
            }
        })
    </script>
{% endblock %}
